.blocks-page {
  video[poster]{
    height:100%;
    width:100%;
    object-fit: cover;
  }
  #announcement {
    a {
      color: $teal;
    }
    p {
      margin: 0;
      @media (max-width: 767px) {
        font-size: 1rem!important;
      }
    }
  }
  .custom-header {
    .header-title {
      * {
        @extend h1;
        font-weight: normal;
        line-height: .9!important;
      }
      em {
        font-family: $shutterlocks;
        color: $teal;
        @extend .display-3;
        font-style: normal;
      }
    }
  }
  .unsealed-video-block .play-icon {
    left: auto;
    right: 2rem;
  }
  .wp-block-columns {
    @extend .container;
    padding: 6rem 0 2rem;
    @media (max-width: 600px) {
      padding: 3rem 0 2rem;
      flex-direction: column-reverse;
    }
    .wp-block-column {
      padding: 0 1rem;
      p {
        line-height: 2;
        @extend h5;
      }
      &:last-of-type {
        padding-left: 2rem;
      }
    }
  }
  .columns-wrapper {
    .overlay {
      opacity: 1;
      filter: grayscale(100%);
    }
    ul {
      li {
        line-height: 2.2;
        @extend .h5;
      }
    }
  }
  .unsealed-testimonials {
    max-width: 100%;
    margin: 0!important;
    .testimonials {
      @extend .container;
    }
  }
}
