.edit-attachment {
  display: none!important;
}
.teal-btn {
  &:hover {
    color: $teal!important;
    border-bottom: 1px solid $teal;
  }
}

.group-announcement {
  a {
    color: $teal;
  }
}

body.buddypress {
  #top-buttons {
    @media (max-width: 767px) {
      flex-wrap: wrap;
      padding: .75rem 1rem 0;
      text-align: center;
      justify-content: center;
      a {
        white-space: nowrap;
        text-decoration: underline;
      }
    }
  }
  header#masthead {
    background-color: #000;
    .logoarea {
      svg {
        .white-clip,
        .white-fill {
          fill: #FFF !important;
        }
      }
    }
    #menu-main-menu > .menu-item {
      a {
        color: #FFF;
      }
    }
    .nav-container #menu-main-menu .dropdown-menu {
      background-color: #000;
    }
    a {
      color: #FFF;
    }
  }
}
#buddypress {
  #profile-edit-form {
    .field_4 {
      .description {
        color: black;
        font-size: .9rem;
      }
      label {
        display: flex;
        align-items: center;
        input {
          margin-right: .5rem;
        }
      }
      .field-visibility-settings-notoggle {
        display: none;
      }
    }
  }
  div#invite-list {
    background-color: white;
    border-right: 2px solid rgba(0,0,0,.05);
    padding: .5rem 1.5rem .5rem .5rem;
    width: auto;
    ul {
      padding: .5rem;
      li {
        label {
          display: flex;
          align-items: center;
          font-size: .8rem;
          input {
            margin-right: .25rem;
          }
        }
      }
    }
  }
  .invite .main-column {
    padding-left: 1rem;
  }
  #members-dir-search, #groups-dir-search {
    float: none;
    margin: 2rem 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    input {
      &[type="text"] {
        border: none;
        background-color: white;
        padding: .75rem .5rem;
        border-bottom: 2px solid black;
        &:focus {
          box-shadow: none;
          border-bottom-color: $teal;
        }
      }
    }
    label {
      margin-bottom: 0;
    }
  }
  > #item-nav {
    margin-top: 20px;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
  }
  #header-cover-image {
    height: 350px;
    background-image: url(./../img/buddypress_placeholder.png);
    @media (max-width: 782px) {
      height: 30vw;
    }
  }
  #cover-image-container {
    width: 100%;
    display: inline-block;
  }
  div#item-header {
    position: relative;
    .btn-change-avatar {
      width: 32px;
      height: 32px;
      background: #69CDC7;
      box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      position: absolute;
      bottom: 10px;
      left: 5px;
      a {
        width: 28px;
        height: 28px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
      }
      &#btn-change-cover-image {
        top: 280px;
        right: 20px;
        bottom: unset;
        left: unset;
        z-index: 1;
        @media (max-width: 480px) {
          top: 30vw;
          right: .5rem;
          transform: translateY(calc(-100% - .5rem));
        }
      }
    }
    #item-header-avatar {
      position: relative;
      margin-top: -70px;
      .avatar {
        margin: 0px;
      }
    }

    #item-header-cover-image {
      .info-wrapper {
        margin-top: 350px;
        @media (max-width: 782px) {
          height: 30vw;
          margin-top: 30vw;
          #item-header-avatar {
            min-width: 100px;
            width: 100px;
            height: 100px;
          }
        }
        @media (max-width: 640px) {
          flex-direction: column;
          height: auto;
          #item-header-content,
          .item-icons-button-wrapper {
            margin-left: 0px !important;
            .top {
              flex-direction: column-reverse;
              align-items: flex-start!important;
              a {
                margin-left: 0!important;
              }
            }
          }
        }
      }
      #item-header-content {
        margin-top: 0px;
        margin-left: 20px;
        h2.user-nicename {
          font-family: American Typewriter;
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 194.9%;
          color: #222222;
          text-shadow: none;
          ~ button {
            background: #DCDCDC;
            border-radius: 3px;
            color: #000;
          }
        }
        span.mention-name {
          font-family: American Typewriter;
          font-style: normal;
          font-weight: 600;
          font-size: 19px;
          line-height: 100%;
          color: #222222;
          position: relative;
          z-index: 1;
          margin-top: -5px;
          &::before {
            content: '';
            width: 100%;
            height: 12px;
            position: absolute;
            bottom: 0px;
            left: 0;
            background-image: url(../img/highlight.png);
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            z-index: -1;
          }
        }
        #item-meta {
          display: none;
        }
        @media (max-width: 782px) {
          width: fit-content;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }

  }

  div.item-list-tabs {
    display: flex;
    justify-content: center;
    // border-top: 1px solid #E7E7E7;
    // border-bottom: 1px solid #E7E7E7;
    padding: 10px 0px 0px;
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li {
        &#settings-personal-li,
        &#invitations-personal-li,
        &#messages-personal-li,
        &#notifications-personal-li {
          display: none;
        }
        a {
          font-family: American Typewriter;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 194.9%;
          color: #000000;
          position: relative;
          > span {
            position: absolute;
            font-family: American Typewriter;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 100%;
            text-align: center;
            color: #000000;
            width: 15px;
            height: 15px;
            background: #69CDC7 !important;
            border-radius: 50%;
            top: 0px;
            right: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            padding: 0px !important;
          }
        }

        &.current,
        &.selected {
          a {
            background-color: transparent;
            color: #000;
            opacity: 1;
            font-weight: normal;
            &::before {
              content: '';
              width: 100%;
              height: 12px;
              position: absolute;
              bottom: 10px;
              left: 0;
              background-image: url(../img/highlight.png);
              background-size: 100% 100%;
              background-position: center;
              background-repeat: no-repeat;
              z-index: -1;
            }
          }
        }
      }
    }
  }

  #item-body {
    div.item-list-tabs {
      ul {
        li {
          &#notifications-personal-li {
            display: block;
          }
        }
      }
    }
  }

  .ac-reply-content {
    .invalid {
      .current-words-cnt {
        color: #AA0000;
      }
    }
    .valid {
      color: #00AA00;
      .current-words-cnt {
        display: none !important;
      }
    }
  }
   .acomment-options {
     float: none;
     display: flex;
     justify-content: flex-end;
   }
  .activity-comments {
    ul {
      @media (max-width: 480px) {
        padding-left: 0!important;
      }
      @media (min-width: 481px) {
        margin-left: 1rem!important;
      }
      li {
        margin: 1rem 0 0 1rem;
      }
    }
    & > ul {
      li {
        overflow: visible;
        padding-left: 1rem;
        & > ul {
          @media (max-width: 480px) {
            margin-left: 0!important;
          }
        }
      }
      & > li {
        padding-right: 1rem!important;
      }
    }
  }

  #toggle-letter-contest {
    display: block;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    font-size: 1.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 300px;
    display: flex;
    margin-bottom: 1.5rem;
    border-radius: 7px;
    padding: 2px;
    border: 2px solid rgba(0,0,0,.05);
    label {
      width: 50%;
      height: 40px;
      position: relative;
      margin-bottom: 0;
    }
    /* Hide the browser's default radio button */
    input {
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      cursor: pointer;
      width: 100%;
      height: 100%;
    }
    /* Create a custom radio button */
    span {
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 5px;
      /* Create the indicator (the dot/circle - hidden when not checked) */
    }
    input {
      &:checked {
        /* When the radio button is checked, add a teal background */
        & ~ span {
          background-color: $teal;
        }
        &:hover {
          & ~ span {
            background-color: $teal;
          }
        }
      }
    }
  }

  #available-contests {
    .slick-track {
      width: 100%;
    }
    .slick-prev:before,
    .slick-next:before {
      content: '' !important;
      background-image: url('../img/arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: #000 !important;
      font-size: 35px !important;
      opacity: 1 !important;
      width: 13px;
      height: 31px;
      display: block;
    }
    .slick-prev, .slick-next {
      width: 13px;
      height: 31px;
    }
    .slick-prev:before {
      transform-origin: center;
      transform: rotate(180deg);
    }
  }

  .jcrop-image-stage img#unsealed-letter-image {
    width: 100%;
    height: auto;
    z-index: 0;
    &::before {
      display: none;
    }
  }

  .crop-btn {
    width: 100%;
    text-align: right;
    a {
      background-color: black;
      color: white;
    }
  }

  #unsealed-letter-upload {
    // display: none;
  }

  #letter-crop-container {
    display: none;
    position: relative;
  }

  #letter-crop-complete {
    display: none;
  }

  #unsealed-letter-image-preview {
    box-shadow: 0 0 5px rgba(0,0,0,.25);
  }

  div.activity-comments .acomment-content, #whats-new-textarea {
    padding: 2rem;
    background-color: white;
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,.2);
    margin-right: 1rem;
    margin-left: 0!important;
    @media (max-width: 480px) {
      margin-right: 0;
      padding: 1rem;
    }
  }

  #whats-new-textarea {
      position: relative;
    .validate-title {
      max-width: 100%;
    }
    .unsplash-keywords {
      padding-left: .75rem;
      padding-right: .75rem;
    }
    #unsplash-popup {
        width: 92%;
        position: absolute;
        top: 50%;
        left: 4%;
        transform: translateY(-50%);
        box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
        padding: 1.5rem;
        background-color: white;
        display: none;
        z-index: 3;
        @media (max-width: 900px) { 
          width: 100%;
          left: 0;
        }
        #unsplash-popup__loader {

        }
        &__close {
            cursor: pointer;
        }
        &__content-wrapper {
            margin-top: 1rem;
            &-content {
                display: flex;
                flex-wrap: wrap;
                min-height: 215px;
                margin: 0 -.25rem;
                position: relative;
                .unsplash-no-images {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .unsplash-image-wrapper {
                    width: calc(100% / 3);
                    padding: 0 .25rem;
                    position: relative;
                    margin-bottom: .5rem;
                    @media (max-width: 900px) { 
                      width: 50%;
                    }
                    .unsplash-image {
                        height: 0;
                        padding-bottom: 56.25%;
                        position: relative;
                        transition: transform .2s linear;
                        cursor: pointer;
                        img {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            object-fit: cover;
                            object-position: center;
                        }
                        &.active {
                            outline: 4px solid $teal;
                            transform: scale(1.05);
                            z-index: 1;
                            box-shadow: 0 0 10px 7px rgba(0,0,0,.3);
                        }
                    }
                }
            }
            &-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .unsplash-nav-button {
                    width: 32px;
                    height: 32px;
                    background-color: $teal;
                    border-radius: 50%;
                    display: flex;
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &.unsplash-prev {
                      transform: rotate(-180deg);
                    }
                    svg {
                        width: 25%;
                        height: auto;
                    }
                }
            }
        }
    }
    .unsplash-search-container {
        input {
            width: 100%;
        }
        button {
            margin-left: .5rem;
        }
    }
    #activity_title, #activity_signature {
      border: none;
      max-width: 100%;
      border-bottom: 2px solid rgb(220,220,220);
      &:focus {
        outline: none;
        border-bottom: 2px solid $teal;
      }
    }
    #activity_signature {
      line-height: 1;
      caret-color: black!important;
      height: 3rem!important;
      border-bottom: 2px dashed rgb(220,220,220);
      -webkit-appearance: none;
      border-radius: 0;
      &:focus {
        border-bottom: 2px dashed $teal;
      }
    }
  }

  #whats-new-form {
    display: flex;
    justify-content: center;
    padding-top: 50px !important;
    position: relative;
    .activity-add-image {
      position: relative;
      height: 0;
      padding-bottom: 50%;
      background-color: rgba(0,0,0,.03);
      .activity-add-image-inner {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        border: dashed 2px rgba(0,0,0,.3);
        .activity-upload-image {
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          span {
            max-width: 380px;
            small {
              font-size: 65%;
              padding-top: .5rem;
              margin-top: .5rem;
              position: relative;
              &::before {
                content: '';
                width: 10px;
                height: 1px;
                background-color: black;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }
        }
      }
      &.has-image {
        background-color: transparent;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .activity-upload-image {
          display: none!important;
        }
        .activity-add-image-inner {
          border: none;
        }
      }
    }
    #message {
      position: absolute;
      top: 0px;
    }
    textarea {
      min-height: 100px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.33);
      box-sizing: border-box;
    }
    #whats-new-options {
      display: flex !important;
      height: unset !important;
      align-items: center;
      justify-content: flex-end;
      @media (max-width: 480px) {
        margin-bottom: 1.5rem;
        width: 100%;
        justify-content: center;
      }
      select {
        @media (max-width: 480px) {
          max-width: 150px!important;
        }
      }
    }
    #whats-new-content {
      margin-left: 10px !important;
      max-width: 695px;
      width: 100%;
      @media (max-width: 480px) {
        margin-left: 0!important;
        padding-left: 0!important;
      }
      .invalid {
        .current-words-cnt {
          color: #AA0000;
        }
      }
      .valid {
        color: #00AA00;
        .current-words-cnt {
          display: none !important;
        }
      }
    }
  }

  .writing-links {
    ul {
      flex-wrap: wrap;
    }
  }

  .item-list-tabs {
    padding: 0px;
    border: none !important;
  }

  #item-body {
    max-width: 755px;
    margin: auto;
    margin-top: 30px;
    > .activity {
      max-width: unset;
      margin: unset;
      margin-top: unset;
    }
  }
  .report-letter {
    font-size: .8rem;
    svg {
      width: 10px;
      height: auto;
      fill: white;
    }
    &.reported {
      svg {
        fill: $teal;
      }
    }
  }
  .letter-reported {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: .7rem;
    color: red;
    font-weight: 900;
  }
  .activity {
    max-width: 755px;
    margin: auto;
    margin-top: 30px;
    #activity-filter-select {
      margin-left: auto;
      margin-bottom: 35px;
      select {
        font-family: American Typewriter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 194.9%;
        color: #000000;
        padding: 5px 10px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.33);
        box-sizing: border-box;
      }
    }
    .activity-item {
      border-color: rgba(0, 0, 0, 0.3);
      padding: 2rem 1rem 1rem;
      @media (max-width: 480px) {
        padding: 2rem .5rem .5rem;
      }
      .activity-edit-title, .activity-edit-signature {
        border: none;
        max-width: 100%;
        border-bottom: 2px solid rgb(220,220,220);
        &:focus {
          outline: none;
          border-bottom: 2px solid $teal;
        }
      }
      .activity-edit-title {
        font-size: 1.6rem;
      }
      .activity-edit-signature {
        line-height: 1;
        caret-color: black!important;
        height: 2rem!important;
        border-bottom: 2px dashed rgb(220,220,220);
        font-size: 2.1rem;
        color: $teal;
        -webkit-appearance: none;
        border-radius: 0;
        &:focus {
          border-bottom: 2px dashed $teal;
        }
      }
      .activity-data-field {
        display: block;
      }
      .activity-edit-field {
        display: none;
      }
      &.editing-activity {
        .activity-data-field {
          display: none;
        }
        .activity-edit-field {
          display: block;
        }
      }
      .copy-activity-link {
        position: relative;
        overflow: visible;
        .copied-activity-url {
          font-size: .7rem;
          background-color: rgba(0,0,0,.1);
          position: absolute!important;
          top: -20px;
          left: -10px;
          white-space: nowrap;
          padding: 2px 8px 1px;
          border-radius: 99px;
          transform: translateY(15px);
          opacity: 0;
          pointer-events: none;
          transition: all .2s linear;
          &.active {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
      .activity-share-links-wrapper {
        span {
          position: relative;
          top: 2px;
        }
        .activity-share-links {
          display: flex;
          list-style-type: none;
          margin: 0 -.5rem;
          padding: 0;
          li {
            overflow: visible;
            padding: 0 .5rem;
            width: 32px;
            position: relative;
            border: none;
            svg {
              width: 100%;
              height: auto;
            }
          }
        }
      }
      &.activity_update .activity-content-letter-wrapper {
        &::before {
          content: "";
          position: absolute;
          left: -2.5rem;
          bottom: -6rem;
          background-image: url("../img/accent-3.png");
          background-size: contain;
          background-repeat: no-repeat;
          height: 130px;
          width: 120px;
          z-index: -1;
          @media (max-width: 992px) {
            left: -2.5rem;
            bottom: -2.5rem;
            height: 80px;
            width: 120px;
          }
        }
        [rel="nofollow ugc"] {
          color: $teal;
          font-weight: bold;
        }
      }
      &:nth-child(2n+1) {
        &.activity_update .activity-content-letter-wrapper::before {
          left: auto;
          top: -1.5rem;
          right: -2rem;
          bottom: auto;
        }
      }
      .activity-meta {
        display: flex;
        justify-content: space-between;
        z-index: 3;
        position: relative;
        margin: 0;
        & > div {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
        .acomment-reply {
          // border: 2px solid $teal!important;
          // border-radius: 99px;
          &:hover {
            color: $teal;
          }
        }
        a.button {
          border: none;
          padding: 0px;
          margin-left: 15px;
          font-family: American Typewriter;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 194.9%;
          color: #000000;
          text-transform: lowercase;
          .count {
            background: none;
            color: #000000;
          }
          &:hover, &:focus {
            background: transparent;
          }
        }
      }

      .activity-content-letter-wrapper {
        position: relative;
        min-width: 100%;
        .activity-content-letter {
          margin: 2.5rem 0 1rem 0;
          position: relative;
          position: relative;
          padding: 2rem 2rem;
          background: #fff;
          z-index: 2;
          overflow: visible;
          box-shadow: 2px 2px 15px 0px rgba(0,0,0,.2);
          @media (max-width: 480px) {
            padding: 2rem 1rem 1rem;
          }
        }
        .activity-featured-image {
          width: 100%;
          height: 0;
          padding-bottom: 40%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          margin-bottom: 1.5rem;
        }
        h3 {
          font-size: 1.4rem;
          font-weight: 600;
          width: 100%!important;
        }
        p {
          font-family: American Typewriter;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 1.4;
          font-weight: 400;
          margin: 0px 0 1rem;
          color: #000000;
        }
      }
    }
  }
  .activity-read-more {
    display: block;
    margin: 1rem 0 0;
    a {
      color: $teal;
      font-weight: bold;
    }
  }
}

.bp-user,
.my-account {
  &.my-profile {
    #buddypress {
      #item-body {
        .item-list-tabs {
          display: none;
        }
      }
    }
  }



  .social-list {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    label {
      font-family: American Typewriter;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 194.9%;
      text-align: center;
      color: #000000;
    }
    a {
      font-size: 24px;
      transition: color .25s;
      &:hover {
        color: #69CDC7;
      }
    }
  }
}

.item-icons-button-wrapper {
  a {
    font-size: 20px;
    position: relative;
    > span {
      &:not([data-cnt="0"]) {
        position: absolute;
        font-family: American Typewriter;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 194.9%;
        text-align: center;
        color: #000000;
        width: 15px;
        height: 15px;
        background: #69CDC7;
        border-radius: 50%;
        top: 0px;
        right: -2px;
      }
      &[data-cnt="0"] {
        display: none !important;
      }
    }
  }
}

#buddypress {
  div.pagination {
    float: none;
  }
  .notifications {
    table-layout: auto;
  }
  .notification-description {
    a {
      text-decoration: underline;
    }
  }
  #members-dir-list {
    position: relative;
  }
  #members_search {
    width: auto;
    margin-bottom: 0;
  }
  #members-dir-search {
    width: 100%;
  }
  #members-list {
    display: flex;
    flex-wrap: wrap;
    border-top: none;
    clear: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    li {
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      border: none;
      overflow: visible;
      margin-bottom: 1rem;
      width: 25%;
      @media (max-width: 768px) {
        width: calc(100%/3);
      }
      @media (max-width: 480px) {
        width: 50%;
      }
      .item-avatar {
        a {
          display: block;
          text-align: center;
          img {
            float: none;
            margin: 0 auto;
            width: 72px;
          }
        }
      }
      .item-title {
        display: flex;
        flex-direction: column;
        margin: .5rem auto 0;
        width: auto;
        a {
          font-weight: 600;
        }
      }
      .item-meta {
        .activity {
          margin-top: .5rem;
        }
      }
      .action {
        position: relative;
        top: auto;
        right: auto;
        margin-top: .5rem;
        text-align: center;
        a {
          color: black;
          font-weight: 600;
          background: $teal;
          font-size: .7rem;
          border: none;
          &.remove {
            background-color: transparent;
            color: black;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .metavalue-selector {
    @media (max-width: 480px) {
      margin-bottom: 2.5rem;
    }
  }
}

.activity-permalink {
  #buddypress {
    .activity {
      .activity-item {

        .activity-content {
          .activity-meta {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}

#change-profile-photo-header {
  max-width: 600px;
  text-align: center;
  margin: auto;
  p {
    line-height: 140%;
    margin-top: 20px;
  }
}

#bp-delete-cover-image-container {
  text-align: center;
}

.group-block-image {
  height: 0;
  padding-bottom: 50%;
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.group-block-avatar-container {
  width: 100%;
  img {
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    display: block;
    border-radius: 100%;
    @media (max-width: 768px) {
      margin-bottom: 1rem;
    }
  }
}

.group-block:last-of-type {
  border-bottom: 0!important;
}

#unsealed-penpals {
  .penpal-image {
    max-width: 160px;
  }
}

.buddypress {
  .bp_group {
    #item-header {
      height: 350px;
      background-size: cover;
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: #000000;
        opacity: 0.5;
        top: 0px;
        left: 0px;
      }
      #item-header-content {
        max-width: 100%;
        #item-meta {
          margin: 0 auto;
          max-width: 600px;
        }
      }
      #item-actions {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        right:0px;
        bottom: 0px;
        transform: translateY(calc(100% + 30px));
        p {
          font-family: American Typewriter;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 120%;
          color: #000000;
          margin: 0px;
        }
        ul {
          display: flex;
          justify-content: flex-end;
        }
      }
      #manage-group {
        transform: translateY(50%);
        position: absolute;
        left: 20px;
        bottom: 0px;
        img {
          max-width: 150px;
          border-radius: 50%;
          @media (max-width: 782px) {
            max-width: 100px;
          }
        }
        .edit-button {
          margin-top: 50px !important;
          background: #fff;
          border: 1px solid #ccc;
          color: #767676;
          font-size: small;
          cursor: pointer;
          outline: 0;
          padding: 4px 10px;
          text-align: center;
          text-decoration: none;
        }
      }
      #item-header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .activity {
          display: none;
        }
        .highlight {
          font-family: American Typewriter;
          font-style: normal;
          font-weight: 600;
          font-size: 50px;
          line-height: 194.9%;
          color: #FFFFFF;
          position: relative;
          text-align: center;
          line-height: 1.2;
          padding-bottom: 2rem;
          @media (max-width: 480px) {
            font-size: 2rem;
            padding-bottom: 1rem;
          }
          &::before {
            content: '';
            width: 100%;
            height: 22px;
            position: absolute;
            bottom: 0px;
            left: 0;
            background-image: url(../img/highlight.png);
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 1;
          }
        }
        #item-meta {
          p {
            margin-top: 0px;
            font-family: American Typewriter;
            font-style: normal;
            font-size: 16px;
            line-height: 144.9%;
            text-align: center;
            color: #FFFFFF;
          }
        }
      }
    }
    #item-nav {
      margin-top: 100px !important;
    }
    #member-list {
      .avatar {
        max-width: 45px;
      }
    }
  }
  .bp_activity {
    #subnav {
      display: none !important;
    }
  }
}

.media-frame-tab-panel .media-menu-item {
  color: rgba(0,0,0,.5);
}

.bp-user {
  #buddypress {
    #item-header {
      #item-header-content {
        #item-buttons {
          display: none;
        }
      }
    }
    #other-user-account-button-wrapper {
      a, span {
        padding: 0px !important;
        border: none !important;
        background: none !important;
        font-size: 0px;
        width: 25px;
        height: 25px;
        display: flex;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        &.friendship-button {
          background-image: url(./../img/icon_invite.png) !important;
          &[rel=remove] {
            position: relative;
            background-image: url(./../img/icon_remove_invite.png) !important;
          }
        }
        &.activity-button.mention {
          background-image: url(./../img/icon_post.png) !important;
        }
        &.send-message {
          background-image: url(./../img/icon_message.png) !important;
        }
        &.inactive {
          opacity: .3;
          cursor: pointer;
        }
      }
    }
  }
}

#buddypress {
  .standard-form {
    label {
      font-size: 1.5rem;
    }
    .editfield {
      margin-top: 1.5rem;
    }
  }
  select {
    font-family: American Typewriter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 194.9%;
    color: #000000;
    padding: 5px 10px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.33);
    box-sizing: border-box;
    margin-top: 0px;
    margin-right: 20px;
  }
}

.my-account {
  #buddypress {
    .standard-form label {
      font-size: 1rem;
    }
  }
}
#groups-list {
  .item-avatar {
    img {
      width: auto;
    }
  }
  .action {
    position: relative!important;
    right: auto;
    top: auto;
    .meta {
      margin-top: 0;
      margin-bottom: .5rem;
    }
  }
  .item-title {
    a {
      font-size: 1.5rem;
    }
    @media (max-width: 480px) {
      width: 100%!important;
      a {
        font-size: 1rem;
      }
    }
  }
  .item-desc {
    @media (max-width: 480px) {
      width: 75%!important;
    }
  }
  .activity {
    display: none!important;
  }
  .bp-single-group {
    padding: 20px !important;
    .item-title {
      a {
        font-size: 16px;
      }
    }
    .item-meta {
      padding-left: 10px;
    }
    .item-desc  {
      margin-top: 10px;
      padding-left: 10px;
    }
  }
}

#buddypress li.groups-members-search {
  margin-right: 15px;
  input[type=text] {
    height: 35px;
  }
}

/*** Buddypress Messages ***/
#buddypress {
  .standard-form textarea,
  .standard-form input[type="text"] {
    width: 100%;
  }
  #message-threads {
    .thread-star {
      max-width: 40px;
      width: 40px;
      text-align: center;
    }

    .thread-checkbox {
      width: 30px;
      text-align: center;
    }
    tr {
      td {
        vertical-align: baseline;
      }
    }
    ~ .messages-options-nav {
      margin-top: 30px;
    }
  }
  div.message-search {
    display: flex;
    align-items: center;
  }
  #send_message_form {
    .first.acfb-holder {
      li {
        width: 100%;
        input#send-to-input {
          width: 100%;
        }
      }
    }
    textarea,
    input[type=text] {
      width: 100%;
    }
  }
  button[type="submit"].disabled {
    pointer-events: none;
    opacity: 0.4;
  }
  .activity-error {
    color: red;
    font-size: .8rem;
  }
}

.atwho-view {
  color: black;
  .username strong {
    color: $teal;
  }
  small {
    color: black;
  }
}
.bp_group {
  #buddypress {
    #item-meta {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
#buddypress {
  #activity-stream {
    .load-more {
      background-color: transparent;
      border-bottom: none;
    }
    img.avatar:not(.avatar-20) {
      width: 50px !important;
      height: 50px !important;
    }
    > .activity-comment.activity {
      display: block !important;
    }
    p:not(:last-of-type) {
      margin: 0 0 1rem 0;
    }
  }
}

#buddypress div.activity-comments div.acomment-meta {
  font-size: 100%;
}

#buddypress div.activity-comments div.acomment-content {
  font-size: 14px;
}

#buddypress div.activity-comments {
  margin-left: 0rem!important;
}

#buddypress #item-body .groups-members-search ~ #group_members-order-select {
  margin-top: 0px !important;
  margin-left: 20px !important;;
}


.header-avatar {
  i {
    font-size: 20px;
  }
  img {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #69CDC7;
  }
}

.groups {
  .bp_group {
    #buddypress {
      #cover-image-container {
        height: 350px;
      }
      #header-cover-image {
        background-image: url(./../img/buddypress_group_hero_image.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media (max-width: 782px) {
          height: 350px;
        }
      }
    }
  }
}

#buddypress .activity-list li.mini {
  font-size: 100%;
}

#buddypress {
  .activity-list {
    .activity-avatar {
      @media (max-width: 480px) {
        img.avatar {
          margin-left: 0!important;
        }
      }
    }
    .activity-content {
      @media (max-width: 782px) {
        margin-left: 0!important;
      }
      & + .activity-comments .acomment-content {
        margin-left: 4rem!important;
        @media (max-width: 480px) {
          margin-left: 0!important;
        }
      }
    }

  }
}

.activity-content {
  .activity-edit {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $teal;
    text-decoration: underline;
    font-size: .9rem;
  }
}
body.activity-permalink #buddypress {
  .activity-list li .activity-content, div.activity-comments {
    margin-left: 70px;
  }
  .acomment-content {
    margin-left: 4rem!important;
    @media (max-width: 480px) {
      margin-left: 0!important;
    }
  }
  .acomment-meta {
    line-height: 2.2;
    padding-top: .5rem;
  }
  .activity-comments {
    margin-left: 0rem!important;
  }
}

#buddypress .activity-list .activity-content .activity-header, #buddypress .activity-list .activity-content .comment-header {
  position: relative;
  z-index: 3;
  @media (max-width: 480px) {
    margin-right: 0;
  }
}

#buddypress .activity-list .activity-content .activity-header {
  img.avatar {
    margin-bottom: 2px!important;
    margin-right: 5px!important;
    object-fit: cover;
    object-position: center;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.25);
    width: 30px;
    height: 30px;
  }
  @media (max-width: 767px) {
    img.avatar {
      display: none;
    }
    p {
      line-height: 1.5;
    }
  }
}

#social-platform-callout {
  .avatar {
    width: 31px;
  }
  .social-platform-description {
    position: relative;
    z-index: 2;
  }
  .meet-lauren-images {
		position: relative;
		margin-bottom: 5%;
		z-index: 1;
		.meet-lauren-image {
      opacity: 1!important;
      &:nth-child(1) {
        transform: rotate(-15deg) translateX(-80%)!important;
      }
			&:nth-child(2) {
				width: 30%;

			}
			&:nth-child(3) {
				height: 90%;
        transform: rotate(15deg) translateX(80%)!important;
			}
		}
  }
}
