#contest-intro {
  font-size: 1.2rem;
  .winner-image {
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    position: relative;
    display: block;
    margin: 0 auto 1rem;
    border-radius: 100%;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
      overflow: hidden;
    }
  }
}
#contest-rules {
  h2 {
    line-height: 1.5;
  }
  h3 {
    @extend .h3, .mt-5, .mb-3;
    &:first-of-type {
      @extend .mt-2;
    }
  }
  .good-luck {
    @extend .script-font, .display-3;
  }
}

.single-contest {
  .upload-entry-image {
    &.visible {
      width: 100px;
      height: 100px;
      object-fit: cover;
      overflow: hidden;
      display: block;
    }
  }
  .supports-drag-drop {
    display: flex;
    justify-content: center;
    align-items: center;
    .media-menu-item {
      color: black;
    }
    .media-modal-content .media-frame select.attachment-filters {
      margin-top: 1rem;
    }
    #media-search-input {
      margin-top: .5rem;
    }
    .media-modal label {
      margin-bottom: 0;
      top: .5rem;
      margin-right: .5rem;
      position: relative;
    }
    .media-attachments-filter-heading {
      @extend .position-relative;
      left: 0;
    }
    .media-modal {
      margin: 0 auto;
      .media-modal-close {
        width: auto;
        right: 1rem;
      }
    }
  }
}

.upvote-wrapper {
  .upvote-button {
    img, svg {
      width: 24px;
      height: auto;
    }
    svg {
      path {
        fill: white;
      }
    }
    &.upvote-voted {
      position: absolute;
      bottom: 0;
      left: 0;
      pointer-events: none;
      opacity: 0;
      transition: opacity .2s linear, transform .2s ease-in;
      font-size: .8rem;
      &.voted {
        opacity: 1;
        transform: translateY(-110%);
      }
    }
  }
  &.disabled {
    .upvote-button {
      svg path {
        fill: $teal;
      }
    }
  }
}

.ReactModal__Overlay {
  z-index: 10;
}

.ReactModal__Content {
  padding: 0;
  overflow-x: visible!important;
  .modal-content-wrapper {
    background-color: white;
  }
}

// BuddyPress Contest Entries

.contest-entries #buddypress #item-body {
  max-width: 100%;
}
