.single-event, .page-template-unsealed-conversations {
	.entry-header {
		.event-title {
			@extend .display-3;
			@extend .script-font;
		}
	}
	.author-single-container {
		.author-single-image {
			width: 125px;
		}
		.image-ratio {
			max-width: 200px;
		}
	}
	.inline-video {
		video {
			object-fit: cover;
			&::before {
				content: "";
				position: absolute;
				right: -65px;
				bottom: -55px;
				z-index: 0;
				background-image: url(../img/accent-4.png);
				background-size: contain;
				background-repeat: no-repeat;
				height: 120px;
				width: 200px;
				@media (max-width: 992px) {
					left: -15px;
					bottom: -15px;
					height: 50px;
					width: 90px;
				}
			}
		}
	}
}

.event-list-event {
	&:not(:last-of-type) {
		@extend .underlined-light;
	}
}
