$mobileNavMedia: 1145px;

#search-bar, #page-search-bar {
	display: none;
	position: relative;
	z-index: calc(1020 + 2);
	#search:focus {
		outline: none;
	}
	input[type="text"] {
		border: none;
		border-bottom: 1px solid black;
		background-color: transparent;
		padding: .5rem 1rem;
		font-size: 1.2rem;
		width: 60%;
		color: black;
		@include media-breakpoint-down(md) {
			width: 80%;
		}
		&::placeholder {
			color: rgba(0,0,0,.6);
		}
	}
	button {
		width: 40px;
		height: auto;
		background: transparent;
		svg {
			width: 100%;
			height: auto;
			fill: rgba(0,0,0,.3);
		}
	}
	&.bg-black {
		input[type="text"] {
			color: white;
			border-bottom: 1px solid white;
			&::placeholder {
				color: rgba(255,255,255,.6);
			}
		}
		button svg {
			fill: rgba(0,0,0,.3);
			fill: rgba(255,255,255,.3);
		}
	}
}

#page-search-bar {
	display: block;
}
.site-header {
	.container-wide {
		@media (max-width: calc(#{$mobileNavMedia})) {
			max-width: 100%;
		}
	}
}
#masthead {
	position: relative;
	font-size: 14px;
	z-index: calc(#{$zindex-sticky} + 1);
	.nav-container {
		width: 100%;
		@media (min-width: calc(#{$mobileNavMedia} + 1px)) {
			display: block !important;
		}
		#menu-main-menu {
			height: 100%;
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: center;
			> .menu-item {
				height: 100%;
				display: flex;
				align-items: center;
				@media (min-width: calc(#{$mobileNavMedia} + 1px)) {
					padding-top: 2rem;
					padding-bottom: 2rem;
				}
				&.current-item {
					& > a {
						position: relative;
						&::before {
							content: '';
							width: 100%;
							height: 6px;
							position: absolute;
							bottom: 0;
							left: 0;
							background-image: url("../img/highlight.png");
							background-size: 100% 100%;
							background-position: center;
							background-repeat: no-repeat;
							z-index: 1;
						}
					}
				}
			}
			.topics-toggle {
				@media (min-width: calc(#{$mobileNavMedia} + 1px)) {
					display: none!important;
				}
				background: transparent;
				font-size: .8rem;
				i {
					font-size: .6rem;
				}
				&.active {
					i {
						transform: rotate(-180deg);
					}
				}
			}
			.menu-search {
				button {
					width: 40px;
					height: auto;
					background: transparent;
					svg {
						width: 100%;
						height: auto;
						fill: $teal;
					}
				}
			}
			.dropdown-menu {
				opacity: 0;
				transform: translateY(-100%);
				transition: cubic-bezier(0.645, 0.045, 0.355, 1) 400ms all;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				z-index: -1;
				background-color: white;
				padding-top: 5rem;
				box-shadow: 3px 3px 10px rgba(0,0,0,.1);
				@media (max-width: $mobileNavMedia) {
					opacity: 1;
					transform: translateY(0);
					position: relative;
					padding-top: 0!important;
					display: none;
					z-index: 1;
					.container {
						padding-top: 1rem!important;
					}
				}
			}
			.menu-has-children {
				&:hover,
				&:focus-within {
					.dropdown-menu {
						opacity: 1;
						transform: none;
					}
				}
			}
			ul {
				list-style: none;
			}
			.dropdown-tag-img-cont {
				height: 100px;
				width: 150px;
				position: relative;
				margin-right: 20px;
				@media (max-width: calc(#{$mobileNavMedia})) {
					display: none!important;
				}
				img {
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			.dropdown-item {
				@media (max-width: calc(#{$mobileNavMedia})) {
					flex: 100% 0 0;
					max-width: 100%;
				}
				a {
					border-bottom: 2px solid gray;
					display: flex;
					align-items: center;
					padding: 20px 10px;
					position: relative;
					width: 100%;
					@media (max-width: calc(#{$mobileNavMedia})) {
						padding: .5rem 0;
						text-align: center;
						border-bottom: 0;
						margin-right: 0!important;
						color: $teal;
					}
					span {
						flex: 1;
					}
				}
			}
		}
		.view-all-menu {
			@media (max-width: $mobileNavMedia) {
				display: none;
			}
		}
		.view-all-menu-text {
			a {
				color: $teal;
			}
			@media (min-width: $mobileNavMedia + 1) {
				display: none!important;
			}
		}
	}
	.login {
		a {
			white-space: nowrap;
		}
	}
	@media (max-width: $mobileNavMedia) {
		.container {
			justify-content: space-between;
		}
		.nav-container {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			background-color: white;
			color: white;
			z-index: 1;
			box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
			padding-top: 2.5rem;
			.login {
				justify-content: center;
				margin-bottom: 20px;
			}
		}
		&.bg-black {
			.nav-container {
				background-color: black;
				box-shadow: 0px 8px 8px 0px rgba(255, 255, 255, 0.2);
			}
		}
		.align-items-center.row {
			justify-content: space-between !important;
		}
		.nav-container #menu-main-menu {
			height: auto;
			flex-direction: column;
			align-items: center;
		}
		.dropdown-menu {
			display: none;
		}
	}

	.navbar-brand {
		svg {
			height: 45px;
		}
	}
	&.bg-black {
		svg {
			.white-fill,
			.white-clip {
				fill: white;
			}
		}
		.nav-container #menu-main-menu .dropdown-menu {
			background-color: black;
		}
	}
}

.navbar-toggler {
	outline: none !important;
	border: 0px;
	display: none;
	@media (max-width: $mobileNavMedia) {
		display: block;
	}
}

.menu-ham {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

.menu-ham span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

.menu-ham span {
	background: $black;
}

.menu-ham span:nth-child(1) {
	top: 0px;
}

.menu-ham span:nth-child(2) {
	top: 10px;
}

.menu-ham span:nth-child(3) {
	top: 20px;
}

.menu-ham.open span:nth-child(1) {
	top: 11px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.menu-ham.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.menu-ham.open span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

#menu-footer-menu {
	list-style: none;
	display: flex;
	justify-content: center;
	> .menu-item {
		display: flex;
		align-items: center;
	}
}

.desktop {
	display: block;
	&.flex {
		display: flex;
	}
	@media (max-width: $mobileNavMedia) {
		display: none !important;
	}
}

.tablet {
	display: none;

	@media (max-width: $mobileNavMedia) {
		display: block !important;
		&.flex {
			display: flex !important;
		}
	}
}
