.single, .post-type-archive-community-voices, .post-type-archive-ask-the-unsealed, .post-type-archive-contest-submissions, .page-template:not(.page-template-account):not(.page-template-page-about), .page-template-subscribe {
	.site-content {
		padding-top: 0;
	}
	#page {
		position: relative;
	}
	#masthead {
		position: absolute;
		width: 100%;
		background-color: transparent;
		top: 0;
		left: 0;
	}
	.entry-header {
		// height: 80vh;
		background: black;
		position: relative;
		padding-top: 125px;
		color: $white;
		text-align: center;
		overflow: hidden;
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			background-image: url('../img/accent-4.png');
			background-size: contain;
			background-repeat: no-repeat;
			height: 120px;
			width: 180px;
			z-index: 1;
			transform: rotate(317deg) translateX(-27%) translateY(-72%);
		}
	}
	.entry-title {
		max-width: 450px;
		margin: 0 auto;
		@include media-breakpoint-up(md) {
			max-width: 600px;
		}
		@include media-breakpoint-up(xl) {
			max-width: none;
		}
	}
	.header-bg-img {
		width: 60%;
		height: 130%;
		position: absolute;
		z-index: 0;
		top: -10%;
		right: -10%;
		transform: rotate(-4deg);
		@extend .bg-cover;
		background-blend-mode: multiply;
		&:before {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			background: rgb(0,0,0);
			background: linear-gradient(36deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 35%, rgba(0,0,0,0.75) 100%);
			top: 0;
			left: 0;
			z-index: 1;
		}
		img {
			filter: grayscale(1);
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.header-img {
		position: relative;
		z-index: 1;
		display: inline-block;
		& + div {
			z-index: 2;
			position: relative;
		}
		img {
			height: auto;
			width: 250px;
			transform: rotate(-8deg);
			@media (max-width: 767px) {
				width: 225px;
			}
		}
		&:before {
			content: "";
			position: absolute;
			background-image: url(../img/accent-1.png);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			left: -50px;
			top: -30%;
			height: 180px;
			width: 180px;
			@include media-breakpoint-down(md) {
				height: 120px;
				width: 120px;
			}
		}
	}
}

.single:not(.single-community-voices), .page-template-subscribe, .page-template-ask-the-unsealed, .post-type-archive-ask-the-unsealed, .post-type-archive-contest-submissions, .page-template-letters {
	.entry-header {
		h1 {
			font-family: $shutterlocks;
			font-size: 100px;
			margin-top: -20px;
			@media (max-width: 1200px) {
				font-size: 70px;
			}
			@media (max-width: 767px) {
				font-size: 44px;
				margin-top: -10px;
			}
		}
	}
}

.page-template:not(.page-template-account):not(.page-template-page-about) {
	.entry-header {
		.h1 {
			font-family: $shutterlocks;
			font-size: 100px;
			margin-top: -40px;
			@media (max-width: 1200px) {
				font-size: 80px;
			}
			@media (max-width: 767px) {
				font-size: 60px;
				margin-top: -10px;
			}
		}
	}
}

.single-to-from {
	p {
		margin-bottom: 5px;
	}
}

.divider-h {
	img {
		width: 200px;
		height: 2px;
		transform: scale(-1, -1);
		position: relative;
		left: -15px;
	}
}

.entry-content {
	img:not(#unsealed-letter-image) {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: -10px;
			bottom: 0;
			background-image: url(../img/accent-1.png);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			height: 30px;
			width: 30px;
		}
	}
}

.wp-block-pullquote {
	border: 0px;
	blockquote {
		border: 0px;
		padding: 20px 0 0 0;
		margin: 0 0 20px 0;
		font-family: $shutterlocks;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			bottom: 100%;
			background-image: url(../img/quote.png);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			height: 15px;
			width: 15px;
		}
		p {
			font-size: 60px;
			line-height: 1.1em;
			color: $black;
			@media (max-width: 767px) {
				font-size: 40px;
			}
			strong {
				font-weight: 500;
			}
		}
	}
}

.author-single-container {
	text-align: center;
	.image-ratio {
		max-width: 100px;
		.bg-cover {
			filter: grayscale(1);
		}
	}
	h5 {
		font-family: $shutterlocks;
		font-size: 65px;
		margin-top: -25px;
		position: relative;
		z-index: 1;
		@media (max-width: 767px) {
			font-size: 40px;
			margin-top: -5px;
		}
	}
	.author-single-image {
		position: relative;
		width: 75px;
		&:before {
			content: "";
			position: absolute;
			left: -25px;
			top: -25px;
			margin: auto;
			background-image: url(../img/cross.png);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			height: calc(100% + 50px);
			width: calc(100% + 50px);
		}
	}
}

.tell-us-story {
	text-align: center;
	.penpal-image {
		width: 100%;
	}
	h2 {
		position: relative;
		font-size: 120px;
		font-family: $shutterlocks;
		@media (max-width: 767px) {
			font-size: 60px;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			margin: auto;
			background-image: url(../img/highlight.png);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			height: 90px;
			width: 150px;
			z-index: -1;
			transform: rotate(-165deg);
		}
	}
}

.single-advice {
	@media (max-width: 767px) {
		text-align: center;
	}
}

.more-stories {
	h3 {
		text-align: center;
	}
}

.single-learn {
	.rounded-circle {
		width: 50px;
		border: 4px solid $teal;
	}
	p {
		margin-bottom: 0;
	}
	a {
		color: $teal;
	}
}
.flex-1 {
	flex: 1;
}

.comments-container {
	a {
		cursor: pointer;
		span {
			color: $teal;
		}
	}
	.d-flex .flex-1 {
		text-align: right;
	}
	.all-comments {
		display: none;
	}
}
