.timeline-option {
  cursor: pointer;
  pointer-events: none;
  opacity: .6;
  @include media-breakpoint-down(md) {
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
  &.active {
    pointer-events: auto;
    opacity: 1;
  }
  &.current {
    background-image: url('../img/highlight.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#pmpro_checkout_box-checkout_boxes {
  display: none;
}

.checkout-step {
  display: none;
  &.visible {
    display: block;
  }
}

.subscription-go-back {
  i {
    margin-right: .5rem;
    font-size: 10px;
  }
}
.level-btn-wrapper {

  .level-button {
    position: relative;
    cursor: pointer;
    input[type="radio"] {
      opacity: 0.01;
      z-index: 100;
    }
    input {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    input[type="radio"]:checked+label {
      background: yellow;
    }

    label {
      padding: 5px;
      cursor: pointer;
      z-index: 90;
      font-size: 3rem;
      font-weight: 400!important;
      -webkit-font-smoothing: antialiased;
      position: relative;
    }
  }
}

.custom-contribution {
  label {
    position: relative;
    cursor: pointer;
    padding: .25rem .75rem;
    background-color: rgba(0,0,0,.1);
    border-radius: .25rem;
    margin: .25rem .25rem!important;
  }
  input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  input[type="radio"]:checked + label {
    background: $teal;
  }
  .variable-option {
    label {
      background: transparent;
      input {
        width: 80px;
      }
    }
  }
}

#pmpro_user_fields_errors {
  p {
    margin-bottom: .25rem;
    font-size: .9rem;
    color: red;
    &::before {
      content: '*';
    }
    &.error-email {
      color: black;
      a {
        color: $teal;
        font-weight: bold;
      }
    }
  }
}

#pmpro_tos_fields {
  input[type="checkbox"]#tos {
    min-width: 16px;
    margin-right: .25rem;
  }
}
.pmpro_checkout-field {
  input {
    width: 100%;
    max-width: calc(100% - 15px)!important;
    border: 1px solid black;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  &.pmpro_checkout-field-username {
    label {
      position: relative;
      #username-approved {
        background-color: $teal;
        color: white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: none;
        justify-content: center;
        align-items: center;
        margin-left: .5rem;
        &.active {
          display: inline-flex;
        }
      }
    }
    #username-taken {
      color: red;
      font-size: .9rem;
      display: none;
      &.active {
        display: block;
      }
    }
  }
  #email-taken {
    font-size: .9rem;
    display: none;
    a {
      color: $teal;
      font-weight: bold;
    }
    &.active {
      display: block;
    }
  }
  &.pmpro_checkout-field-checkbox {
    display: flex;
    align-items: center;
    input {
      min-height: 0;
      width: auto;
      margin-right: .5rem;
    }
  }
}

#pmpro_tos_fields {
  display: flex;
  input {
    margin-right: .5rem;
    margin-top: .25rem;
  }
}

.pmpro_login_wrap, .pmpro_lost_password_wrap {
  max-width: 350px;
  margin: 0 auto;
  width: 100%;
  label {
    margin-bottom: .5rem!important;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    max-width: 100%!important;
    padding: .75rem .5rem;
    border: 2px solid black;
    border-radius: 0;
  }
  hr {
    display: none;
  }
  .pmpro_actions_nav {
    a:first-of-type {
      @extend .teal;
      font-weight: bolder;
    }
  }
}

#pmpro_mailing_lists {
  margin-bottom: 1rem;
  th {
    padding: 0;
    @extend .script-font;
    color: $teal;
    @extend .h1;
    display: none;
  }
  label, input {
    display: inline-block;
  }
  label {
    margin-left: .25rem;
    font-size: 0;
    &::before {
      content: "Join the mailing list";
      font-size: 15px;
    }
  }
}

form:not(#footer-email-form) {
  input[type="submit"], .pmpro_btn, .pmpro_btn:link {
    background: #333;
    color: white;
    padding: .5rem 1rem;
    border: none!important;
    border-radius: 0!important;
  }
}

.pmpro_message {
  background: transparent;
  border: none;
  color: $teal;
  text-align: center;
  &.pmpro_error {
    background: transparent;
    border: none;
    color: $teal;
    text-align: center;
  }
}

.pmpro_member_log_out a {
  color: $teal;
}

.pmpro_lost_password_wrap {
  .pmpro_submit {
    margin-bottom: 1rem;
  }
}
