// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

@font-face {
	font-family: "American Typewriter";
	font-display: swap;
	src: url("https://fonts.cdnfonts.com/s/14323/ufonts.com_american-typewriter.woff");
}

$typewriter: 'American Typewriter';

@font-face {
	font-family: "Shutterlocks";
	font-display: swap;
	src: url("../fonts/Shutterlocks.otf");
	src: url("../fonts/Shutterlocks.woff2") format("woff2"),
			 url("../fonts/Shutterlocks.woff") format("woff"),
			 url("../fonts/Shutterlocks.ttf") format("truetype");
}

$shutterlocks: 'Shutterlocks';

$primary: #000000;
$teal: #43d3cb;
$border-color: $primary;
$navbar-nav-link-padding-x: .7rem !default;
$headings-font-family: $typewriter;
$font-family-sans-serif: 'American Typewriter';
$headings-line-height: 1 !default;
$gutter: 30px;
$container-max-widths: (
  sm: 700px,
  md: 800px,
  lg: 920px,
  xl: 1200px
) !default;
