// Theme CSS style

.site-content {
	//   padding-top:100px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	min-height: 500px;
	@include media-breakpoint-down(md) {
		padding-top: 30px;
	}
}
.home, .pmpro-login, .page-template-default {
	.site-content {
		padding-top: 0;
		.container-fluid {
			min-height: 500px;
		}
	}
}

a:hover {
	text-decoration: none;
}

.bg-cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.teal {
	color: $teal;
	&:visited {
		color: $teal;
		&:hover {
			color: $black;
		}
	}
	&.hover-white {
		&:hover {
			color: white;
		}
	}
}
.bg-black {
	.teal {
		&:hover {
			color: white;
		}
		&.hover-teal:hover {
			color: $teal;
		}
	}
}
.bg-teal {
	background: $teal;
}
.bg-black {
	background-color: black;
	color: white;
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6,
	p,
	a {
		color: white;
	}
	.menu-ham span {
		background-color: $white;
	}
	input[type="text"], input[type="email"], input[type="password"] {
		// background: transparent;
		// border: 1px solid white!important;
	}
}

.huge-font {
	font-size: 12vw;
}

.image-ratio {
	position: relative;
	width: 100%;
	overflow: hidden;
	& > div,
	& > a {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		display: block;
	}

	&.bg-3-2 {
		& > div,
		& > a {
			padding-bottom: 66%;
		}
	}
	&.bg-2-1 {
		& > div,
		& > a {
			padding-bottom: 50%;
			@include media-breakpoint-down(md) {
				padding-bottom: 66%;
			}
		}
	}
}
.rounded-circle {
	overflow: hidden;
}
img,
figure {
	max-width: 100%;
	height: auto;
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}
figure {
	min-width: 30%;
	img {
		width: 100%;
	}
}
img.alignright,
figure.alignright {
	float: right;
	margin: 0 0 1em 1em;
}
img.alignleft,
figure.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}
img.aligncenter,
figure.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
a img.alignright {
	float: right;
	margin: 0 0 1em 1em;
}
a img.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-quote {
	@extend .display-4;
	@extend .script-font;
	@extend .text-center;
	font-style: normal;
	padding: 3rem 0 1rem;
	border: none!important;
	line-height: .8;
	position: relative;
	&::before {
		content: '"';
		@extend .teal;
		text-align: center;
		position: absolute;
		top: 2rem;
		left: 50%;
		transform: translateX(-50%);
	}
}
a,
.a:hover {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.wp-caption-text {
	font-size: 0.9em;
	line-height: 1.4;
}
.container-fluid {
	width: 94%;
	margin: 0px auto;
	max-width: 94%;
	height: 100%;
}
.container.wide-container {
	@include make-container($gutter: $gutter * 2);
	.row {
		margin-right: -$gutter;
		margin-left: -$gutter;
		> .col,
		> [class*="col-"] {
			padding-right: $gutter;
			padding-left: $gutter;
		}
	}
	@include media-breakpoint-down(md) {
		@include make-container($gutter: $gutter);
		.row {
			margin-right: -$gutter / 2;
			margin-left: -$gutter / 2;
			> .col,
			> [class*="col-"] {
				padding-right: $gutter / 2;
				padding-left: $gutter / 2;
			}
		}
	}
}

.row.narrow-gutter {
	margin-right: -$gutter / 4 !important;
	margin-left: -$gutter / 4 !important;
	> .col,
	> [class*="col-"] {
		padding-right: $gutter / 4 !important;
		padding-left: $gutter / 4 !important;
	}
}
.underlined {
	border-bottom: 1px solid black;
	&.white {
		border-color: white;
	}
}
.underlined-top {
	border-top: 1px solid black;
}
.underlined-light {
	border-bottom: 1px solid rgba(0, 0, 0, 0.23);
}
.label {
	font-size: 0.8rem;
}
.border-round-0 {
	border-radius: 0;
}
blockquote {
	border-left: 1px solid $primary;
	padding-left: 20px;
	margin-left: 20px;
	font-style: italic;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
	margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 300;
	// -webkit-font-smoothing: antialiased;
}
body {
	@include media-breakpoint-down(md) {
		font-size: 15px;
	}
}

p {
	// -webkit-font-smoothing: antialiased;
}
.thin {
	-webkit-font-smoothing: antialiased;
}
.script-font {
	font-family: $shutterlocks !important;
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
}
.type-font {
	font-family: $typewriter !important;
}
@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
	25% {
		-webkit-transform: scale(1.35);
		opacity: 0.1;
	}
	50% {
		-webkit-transform: scale(1.7);
		opacity: 0.3;
	}
	75% {
		-webkit-transform: scale(2.05);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: scale(2.4);
		opacity: 0;
	}
}
.mt-neg100 {
	margin-top: -100px;
}
.min-50vh {
	min-height: 50vh;
}
.dropdown-header {
	font-size: 1rem;
}
footer.footer {
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	z-index: 1022;
	position: relative;
	background: #fff;
}
#non-member-video-popup, .video-modal {
	.modal-content {
		background-color: transparent!important;
	}
	.play-button {
		position: absolute;
		bottom: 10%;
		right: 5%;
	}
	video[poster]{
		object-fit: cover;
	}
}
.nav-link,
.dropdown-item {
	font-weight: 700;
}
#MagicMenu {
	padding: 3px 0;
	box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.03);
	@include media-breakpoint-down(md) {
		position: relative;
		.main-mob-menu {
			position: absolute;
			top: 15px;
			right: 30px;
		}
	}
}
.nav-item {
	text-align: center;
}
.navbar-toggler.collapsed > .menuclose,
.navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
	display: none;
}
.navbar-toggler > .menuclose {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	line-height: 1.5em;
}
.header-avatar,
.navbar-nav .avatar {
	width: 30px;
	border-radius: 50%;
	margin-right: 15px;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transition: 0.2s ease;
	transition: 0.2s ease;
	background-color: #008cba;
}
article.card {
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.7);
	line-height: 1.7;
	background: #fff;
}
.article-post {
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 1.5rem;
	}
	i.fa {
		font-style: normal;
	}
	.edd_download_purchase_form {
		display: none;
	}
}
.article-post-boxed {
	.edd_download_purchase_form {
		display: block;
	}
}
#wc-comment-header {
	font-size: 1.5em;
	padding-top: 0;
	padding-left: 0;
}
#wpcomm .avatar {
	width: 44px;
	border-radius: 50%;
	box-shadow: none;
}
#wpcomm .wc-comment-label {
	box-shadow: none;
}
#wpcomm .wc-comment-author {
	font-size: 15px;
}
#wpcomm .wc-comment .wc-comment-left .wc-comment-label {
	background: transparent !important;
	border-bottom: 0 !important;
}
h2.screen-reader-text {
	display: none;
}
.comments-pagination .nav-links {
	margin-bottom: 30px;
}
.logged-in-as a {
	color: inherit;
	font-size: 0.9em;
}
.article-sidebar {
	.sidebar-w {
		margin-bottom: 20px;
	}
	.sidebar-cta {
		margin-bottom: 30px;
	}
	#comments {
		margin: 0 0 30px 0;
	}
	.comment-respond {
		margin-top: 1rem;
	}
	h3.comment-reply-title {
		margin-bottom: 5px;
	}
	ol.comment-list {
		margin-bottom: 1.5rem;
	}
	.rmp-main {
		font-size: 0.8em;
		text-align: left;
		margin-top: -10px;
		ul#rmp-stars {
			margin: 10px 0px 0 0;
		}
		.rating-stars {
			display: inline-block;
		}
		.rating-stars ul > li.star > i.fa {
			font-size: 1.4em;
		}
		.fa-fw {
			width: 1.1em;
		}
		.rating-stars ul > li.star.widget-stars-highlight > i.fa {
			color: #ffd202;
			transition: all 0.3s;
		}
		.rating-stars ul > li.star.widget-stars-highlight.hover > i.fa,
		.rating-stars ul > li.star.hover > i.fa {
			color: #ff912c;
			transition: all 0.3s;
		}
		#voting-results,
		#no-vote {
			font-size: 1em;
			color: #777777;
		}
		#descriptive-rating {
			margin: 0;
			display: none !important;
		}
		#voting-results,
		#no-vote,
		#thank-you-msg,
		#descriptive-rating,
		#vote-alert,
		#feedback-alert {
			margin-bottom: 0px !important;
		}
		#no-vote {
			margin-top: 10px;
		}
		#voting-results {
			vertical-align: text-bottom;
		}
	}
}
.sidebar-after-post .widget,
.sidebar-before-post .widget,
.sidebar-posts .widget {
	margin-bottom: 30px;
}
.sidebar-posts {
	.widget h5 {
		font-size: 1.1rem;
	}
	ul {
		list-style: none;
		padding-left: 10px;
	}
	ul li {
		font-size: 0.9em;
	}
	ul li a {
		color: inherit;
	}
	.search-field {
		border: 1px solid #eee;
		padding: 4px 10px;
		font-size: 13px;
	}
}
.card {
	border: 0;
	transition: ease 0.1s;
}
.card-pin:hover .overlay {
	opacity: 0.5;
	border: 5px solid #f3f3f3;
	-webkit-transition: ease 0.2s;
	transition: ease 0.2s;
	background-color: #000000;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
.more {
	color: white;
	font-size: 14px;
	position: absolute;
	bottom: 9px;
	right: 10px;
	text-transform: uppercase;
	-webkit-transform: translate(-20%, -20%);
	transform: translate(-20%, -20%);
	-ms-transform: translate(-50%, -50%);
}
.card-pin .card-title {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 0;
}
.card-pin.raco .card-title {
	text-align: left;
}
.notraco {
	background: #ffffff;
	border: 0;
	border-top: 0;
	border-radius: 0px 0px 3px 3px;
	padding: 15px 18px;
	position: relative;
}
.card-pin.raco .notraco .card-title {
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
}
.card-pin .more a {
	text-decoration: none;
	color: #ffffff;
}
.card-pin .download a {
	text-decoration: none;
	color: #ffffff;
}
.card-pin.raco:hover .notraco {
	background-color: #eee;
	transition: all 0.2s;
	cursor: zoom-in;
}
.search .form-control {
	border-radius: 5px;
}
.social {
	position: relative;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.social .fa {
	margin: 0 3px;
}
article .card-body {
	padding: 1.25rem 2rem;
}
.article-headline {
	margin-top: 1.5rem;
}
.pagination span,
.pagination a,
.nav-links .page-numbers,
.post-nav-links a,
.post-nav-links span {
	padding: 7px 18px;
	margin-left: -2px;
	margin-right: -2px;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
}
.pagination span.webjed {
	background: #bd081c;
	color: #fff;
	border: 1px solid #bd081c;
}
.pagination a,
.pagination span.prev,
.pagination span.next {
}
.pagination,
.post-nav-links span {
	color: #333;
}
.pagination a {
	color: black;
	font-weight: 300;
}
.page-numbers.next, .page-numbers.prev {
	display: none;
}
.pagination .current {
	font-weight: 700;
	position: relative;
	z-index: 1;
	&:before {
		content: "";
		position: absolute;
		left: 15%;
		top: -5%;
		margin: auto;
		height: 80%;
		width: 100%;
		background-image: url(../img/button-accent.png);
		background-size: contain;
		background-repeat: no-repeat;
		z-index: -1;
		transform: rotate(-13deg);
	}
}

.bg-black {
	.pagination a {
		color: white;
	}
}
.pagination a:hover {
	color: $teal;
	text-decoration: none;
}
.pagination {
	text-align: center;
}
.b-pagination li {
	display: inline-block;
	list-style: none;
}
.b-pagination li a {
	padding: 7px 18px;
	border: 1px solid #eee;
	margin-left: -1px;
	margin-right: 0px;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	color: $gray-600;
}
.b-pagination li a.active,
.b-pagination li a:hover {
	background: $light;
	color: $dark;
}
li.disabled {
	pointer-events: none;
}
.b-pagination li.disabled a {
	color: $gray-600;
}
.b-pagination li.disabled {
	display: none;
}
.dropdown-item.active,
.dropdown-item:active {
	background-color: transparent;
}
.disabled {
	opacity: 0.8;
	pointer-events: none;
}
.btn {
	&:focus {
		box-shadow: none;
	}
}
.btn-gray {
	background-color: #efefef;
	color: #333;
}
.btn-gray:hover {
	background-color: #ddd;
}
.btn-sm {
	padding: 0;
}
.btn-secondary {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	padding: 0 0.5rem;
}
.bg-black {
	.btn-secondary {
		background-color: white;
		color: black;
	}
}

.btn-unsealed {
	font-family: $shutterlocks;
	color: $black !important;
	width: 300px;
	height: 75px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 55px;
	background-size: auto 33%;
	background: transparent;

	cursor: pointer;
	.btn-unsealed-text {
		position: relative;
		z-index: 2;
		line-height: 0px;
		margin-top: 10px;
		font-weight: 400;
	}
	.btn-background-text {
		position: absolute;
		font-size: 18px;
		white-space: nowrap;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 1;
		&:before {
			content: "";
			position: absolute;
			height: calc(100% - 35px);
			width: calc(100% - 35px);
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			background-color: white;
			z-index: 2;
		}
	}
	@media (max-width: 767px) {
		width: 250px;
		height: 70px;
		font-size: 45px;
		.btn-background-text {
			font-size: 16px;
		}
	}
	&:before {
		content: "";
		position: absolute;
		left: -5px;
		top: 0;
		bottom: 0;
		margin: auto;
		height: calc(100% + 15px);
		width: 100px;
		background-image: url(../img/button-accent.png);
		background-size: contain;
	}
	&:after {
		content: "";
		position: absolute;
		height: calc(100% - 5px);
		width: calc(100% - 10px);
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		background-color: $teal;
		z-index: 0;
	}
	&.small {
		width: 170px;
		height: 48px;
		font-size: 34px;
		span.btn-unsealed-text {
			margin-top: 7px;
		}
		&:before {
			height: calc(100% + 5px);
		}

		.btn-background-text {
			font-size: 12px;
			&:before {
				height: calc(100% - 25px);
			}
		}
	}
	&.medium {
		width: 190px;
		height: 48px;
		font-size: 34px;
		span.btn-unsealed-text {
			margin-top: 7px;
		}
		&:before {
			height: calc(100% + 5px);
		}

		.btn-background-text {
			font-size: 12px;
			&:before {
				height: calc(100% - 25px);
			}
		}
	}
	span {
		display: block;
		&:nth-child(1) {
			float: left;
		}
		&:nth-child(2) {
			float: right;
		}
		&:nth-child(3) {
			float: left;
		}
	}
	&:hover {
		.btn-background-text {
			span:nth-child(1) {
				transform: translateX(-100%);
				transition: linear 50s all;
			}
			span:nth-child(2) {
				transform: translateX(100%);
				transition: linear 50s all;
			}
			span:nth-child(3) {
				transform: translateX(-100%);
				transition: linear 50s all;
			}
		}
	}
}
.navbar-nav.categories a {
	font-weight: 700;
	padding: 0.3rem 1rem;
}
.navbar-nav.categories li:first-child a {
	padding-left: 0;
}
.wrapcat {
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: all 0.2s;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.showcat {
	margin: auto;
	padding: 0 15px 40px 15px;
}
.wrapcat .btn {
	border: 0;
	padding: 0 6px 2px 6px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	font-size: 13px;
}
.card-pin.raco:hover .wrapcat {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-box-flex-direction: row;
	-moz-box-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	border-radius: 6px;
	transition: all 0.2s;
	cursor: zoom-in;
	opacity: 1;
}
.card-pin.raco:hover i.text-muted {
	color: #bd081c !important;
	transition: all 0.2s;
	position: relative;
}
.car-pin.raco:hover .fa:before {
	-webkit-animation: pulse 2s ease-in;
	-moz-animation: pulse 2s ease-in;
	animation: pulse 2s ease-in;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.card-pin.raco img.wp-post-image {
	width: 100%;
	border-radius: 3px 3px 0 0;
	height: auto;
}
.pinme {
	position: absolute;
	top: 6px;
	left: 10px;
}

.masonry-grid {
	margin-left: -10px;
	margin-right: -10px;
}
.masonry-card:hover .addtoany_list {
	display: inline-block;
	z-index: 1;
}

.addtoany_share img,
.addtoany_share svg {
	overflow: unset !important;
}
.addtoany_share span {
	background: $dark !important;
}
.video-share-links {
	background-color: transparent!important;
	justify-content: center;
}
.teal-share-links {
	span {
		background-color: transparent!important;
	}
	svg {
		path {
			fill: $teal;
		}
	}
}
.article-sidebar {
	.addtoany_list a {
		display: none !important;
	}
	.addtoany_list a.addtoany_share {
		display: inline-flex !important;
		padding: 4px 13px !important;
		background-color: #f1f1f1;
		margin-right: 10px;
		min-width: 100px;
		height: 40px;
		border-radius: 5px;
	}
	a.addtoany_share {
		font-size: 16px !important;
		font-weight: 700;
		color: #333;
		align-items: center;
		span {
			width: 22px !important;
			line-height: 22px !important;
			height: 22px !important;
			background-size: 22px !important;
		}
	}
	#voting-results {
		display: inline;
	}
	p.rmp-main-title,
	p.rmp-main-subtitle {
		display: none;
		margin: 0;
	}
	.rmp-main-title {
		font-size: 1.23rem;
		display: none;
	}
	a.addtoany_share img {
		width: auto !important;
		height: 20px !important;
		vertical-align: middle !important;
		margin-right: 3px;
	}
	a.addtoany_share {
		position: relative;
	}
	a.addtoany_share:after {
		display: inline-block;
		content: "Share";
		margin-left: 8px;
	}
}
div.a2a_full_footer {
	opacity: 0;
}
.addtoany_list a:not(.addtoany_special_service) > span {
	border-radius: 50% !important;
}
.addtoany_header {
	margin-right: 5px !important;
	font-weight: 700;
	color: #333;
	font-size: 0.9em;
	display: inline-block;
}

.gotopost {
	position: absolute;
	top: 10px;
	right: 10px;
	background: #fff;
	font-size: 12px;
	font-weight: 700;
	padding: 0px 5px 1px 5px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#resultsmodal {
	background: rgba(255, 255, 255, 0.8);
}
.socials-media .fab {
	font-size: 20px;
}
.container-narrow {
	max-width: 900px;
	margin: 0 auto;
}
.container-med {
	max-width: 80%;
	margin: 0 auto;
}
.container-wide {
	max-width: 95%;
	margin: 0 auto;
	@media (max-width: 767px) {
		max-width: 90%;
	}
}
body.admin-bar #MagicMenu {
	margin-top: 32px;
	@include media-breakpoint-down(md) {
		margin-top: 0;
	}
}

.card-columns .card {
	margin-bottom: 20px;
}
.avatar {
	border-radius: 50%;
}
.blog-logo img {
	padding: 10px 0;
}
.a2a_menu a {
	color: #999 !important;
}
a.a2a_i,
i.a2a_i,
a.a2a_menu_show_more_less span {
	font-size: 12px !important;
}
.a2a_default_style .a2a_count,
.a2a_default_style .a2a_svg,
.a2a_floating_style .a2a_svg,
.a2a_menu .a2a_svg,
.a2a_vertical_style .a2a_count,
.a2a_vertical_style .a2a_svg {
	border-radius: 50% !important;
}
.a2a_menu {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
	border: 0 !important;
}
.wow-search-submit {
	font-family: FontAwesome;
	margin-left: -40px;
}
footer.footer {
	margin-top: 4rem;
}
.pagination .screen-reader-text {
	display: none;
}
.menufav a.nav-link i {
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	border-radius: 50%;
	font-size: 13px;
}

// Comments
li.pingback {
	margin: 0.5rem 0;
}
h2.comments-title,
h3.comment-reply-title {
	font-size: 1.2em;
	line-height: 1.5;
}

h3.comment-reply-title {
	margin-bottom: 15px;
}
.comment-form-cookies-consent {
	font-size: 13px;
	font-style: italic;
}
#comments .comment-content {
	color: #777777;
	font-size: 0.9em;
	word-break: break-word;
	line-height: 1.5;
}
p.comment-notes {
	display: none;
}

.comment-respond {
	margin-top: 2rem;
}

.comment-form label {
	display: inline-block;
}

.comment-form input[type="checkbox"] {
	width: auto;
	margin-right: 4px;
}

#comments {
	margin: 2rem 0 2rem 0;
}

.comment-metadata {
	position: absolute;
	top: 20px;
	right: 50px;
	font-size: 0.75em;
	padding: 2px 8px;
	opacity: 0;
	transition: all 0.3s;
}
.comment-body:hover .comment-metadata {
	opacity: 0.9;
}
.comment-metadata a {
	color: rgba(0, 0, 0, 0.54);
}
.comment-content {
	margin-top: 10px;
}
#comments .fn {
	font-size: 1em;
	line-height: 1.4;
	padding-left: 10px;
	font-weight: 600;
}
#comments .fn a {
	color: #222;
}
#comments .vcard img {
	border-radius: 50%;
}

ol.comment-list {
	list-style: none;
	padding-left: 0;
}

ol.children {
	list-style: none;
	padding-left: 20px;
}

.comment-list li.comment {
	border-radius: 3px;
	padding: 0;
	position: relative;
}
.comment-form textarea,
.comment-form input {
	border: 1px solid rgba(0, 0, 0, 0.09);
	background: #fff;
	border-radius: 3px;
}
.comment-body {
	border: 1px solid rgba(0, 0, 0, 0.09);
	padding: 20px;
	background: #fff;
	margin-bottom: 20px;
	border-radius: 3px;
}
.comment-body p:last-child {
	margin-bottom: 0;
}
.comment-author-user .comment-body {
	background: #fbfbfc;
}
.comment-form input.submit {
	background-color: $dark;
	border-color: $dark;
	color: rgba(255, 255, 255, 1);
	border-radius: 3px;
	font-size: 0.9rem;
	margin-left: 0;
	font-weight: 600;
	text-transform: none;
	width: auto;
	cursor: pointer;
	box-shadow: none;
	padding: 7px 13px;
}

.comment-form textarea,
.comment-form input {
	padding: 10px 10px;
	max-height: 180px;
	width: 100%;
	font-size: 14px;
}

#comments .reply {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 17px;
	padding: 2px 8px;
}

#comments .reply a {
	color: rgba(0, 0, 0, 0.5);
}
.comment-content a {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
span.says {
	display: none;
}

.alertbar {
	box-shadow: 0 -1px 0px 0 rgba(0, 0, 0, 0.05);
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	z-index: 1021;
	display: none;
}
ul.shareitnow {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}
ul.shareitnow li {
	display: inline-block;
	margin: 0 10px;
}
ul.shareitnow li a {
	color: #333;
	font-weight: 700;
}
.forauthor {
	i.fa {
		font-size: 17px;
	}
	h1 {
		line-height: 1.1;
		font-size: 2rem;
	}
}

input[type="submit"],
button {
	cursor: pointer;
	border: 0;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	border: 0;
	color: #fff;
	border-radius: 3px;
	font-weight: 600;
	padding: 5px 10px;
	background: #333;
}
.alertbar {
	input {
		border: 1px solid #ccc;
		border-radius: 3px;
		padding: 3px 10px;
		height: 35px;
		font-size: 0.94em;
	}
	input[type="submit"] {
		border-radius: 3px;
		border: 0;
		background: $primary;
	}
}
input.bg-light {
	color: #666;
}
// User Frontend
.wpuf-submit input[type="submit"] {
	border-color: transparent;
	color: #fff;
	border-radius: 0.25rem;
	padding: 5px 20px;
	border: 0;
	cursor: pointer;
	background: #333;
}

.wpuf-dashboard-container .wpuf-dashboard-navigation ul {
	padding-left: 0;
}

.wpuf-dashboard-container .wpuf-dashboard-navigation ul li {
	border-bottom: 0;
	padding-bottom: 7px;
	padding-top: 7px;
	font-size: 0.95rem;
}

.wpuf-dashboard-container table.items-table {
	border: 0;
	width: 100%;
	font-size: 0.95rem;
	margin-top: 0.7rem;
	margin-bottom: 1.5rem;
}

.wpuf-el.form-row {
	display: block;
}

ul.wpuf-form.form-label-above li .wpuf-fields input {
	width: 100%;
	padding: 5px 10px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	font-size: 0.85em;
}
.wpuf-dashboard-content.posts tr,
ul.wpuf-form li .wpuf-fields a.file-selector {
	font-size: 0.85em;
}
.wpuf-label,
#wpuf-login-form {
	font-size: 1rem;
	label {
		margin-bottom: 0.5rem;
		font-size: 1rem;
		font-weight: bold;
	}
}

.wpuf-label label {
	margin-bottom: 0;
}

#wpuf-login-form .forgetmenot label {
	font-weight: 400;
	font-size: 0.95rem;
}

ul.wpuf-form li .wpuf-fields #wpuf-insert-image-container a.wpuf-insert-image {
	font-size: 0.9rem !important;
}

.wpuf-pagination .page-numbers.current,
.wpuf-pagination .page-numbers:hover,
.wpuf-pagination .page-numbers:active,
.wpuf-pagination .page-numbers {
	border-radius: 2px !important;
}

ul.wpuf-form select,
ul.wpuf-form input,
ul.wpuf-form textarea,
.wpuf-login-form input,
.input {
	padding: 5px 10px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	font-size: 0.85em;
}

ul.wpuf-form li .wpuf-fields a.file-selector {
	font-size: 0.95rem;
}

.wpuf-help,
#pass-strength-result {
	opacity: 0.5;
	font-size: 0.9rem;
}

ul.wpuf-form li {
	padding-left: 0 !important;
}

.wpuf-message {
	display: inline-block;
}

.wpuf-dashboard-container .wpuf-update-profile-form .form-row-first,
.wpuf-dashboard-container .wpuf-update-profile-form .form-row-last {
	z-index: 1;
}

.wpuf-dashboard-container .wpuf-dashboard-navigation a {
	text-decoration: none;
	box-shadow: none;
	background: #f4f5f6 !important;
	border-bottom: 1px solid #fff;
	padding: 10px;
	padding-left: 15px;
	background: #f1f1f1;
	width: 100%;
	display: block;
	color: #111;
}

.wpuf-dashboard-container .wpuf-dashboard-navigation a:hover {
	color: $success;
}

.wpuf-registration-form {
	max-width: 450px;
}
.wpuf-dashboard-container table.items-table a {
	color: inherit;
}
// Images
.minh100 {
	min-height: 100%;
}

// Tables
table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	// border: 1px solid $light;
}
tr {
	// border-bottom: 1px solid $light;
	font-size: 15px;
}
th,
td {
	// padding: 10px;
	padding: 10px 0;
	// border: 1px solid $light;
}

.masonry-card {
	padding: 0 11px 22px 11px;
	opacity: 0;
}
@media (min-width: 1024px) {
	.title-xxl {
		font-size: 10rem;
		small {
			font-size: 5rem;
		}
	}
	.masonry-5 .masonry-card {
		width: 20%;
	}
	.masonry-4 .masonry-card {
		width: 25%;
	}
	.masonry-3 .masonry-card {
		width: 33%;
	}
	.masonry-2 .masonry-card {
		width: 49%;
	}
}

@media (max-width: 1023px) {
	.masonry-5 .masonry-card {
		width: 25%;
	}
	.masonry-4 .masonry-card {
		width: 25%;
	}
	.masonry-3 .masonry-card {
		width: 25%;
	}
	.masonry-2 .masonry-card {
		width: 25%;
	}
}
@media (max-width: 767px) {
	.masonry-5 .masonry-card {
		width: 33%;
	}
	.masonry-4 .masonry-card {
		width: 33%;
	}
	.masonry-3 .masonry-card {
		width: 33%;
	}
	.masonry-2 .masonry-card {
		width: 33%;
	}
}
@media (max-width: 486px) {
	.masonry-5 .masonry-card {
		width: 49%;
	}
	.masonry-4 .masonry-card {
		width: 49%;
	}
	.masonry-3 .masonry-card {
		width: 49%;
	}
	.masonry-2 .masonry-card {
		width: 49%;
	}
}

@media (max-width: 415px) {
	.masonry-5 .masonry-card {
		width: 99%;
	}
	.masonry-4 .masonry-card {
		width: 99%;
	}
	.masonry-3 .masonry-card {
		width: 99%;
	}
	.masonry-2 .masonry-card {
		width: 99%;
	}
}

.card-pin {
	position: relative;
}

// EDD
#edd-purchase-button,
.edd-submit,
[type="submit"].edd-submit {
	display: block;
	padding: 10px 12px;
	font-size: 16px;
	font-weight: 700;
	border: 1px solid rgba(0, 0, 0, 0.05);
}
#edd_checkout_form_wrap input[type="email"],
#edd_checkout_form_wrap input[type="password"],
#edd_checkout_form_wrap input[type="tel"],
#edd_checkout_form_wrap input[type="text"],
#edd_checkout_form_wrap textarea {
	padding: 4px 6px;
	border: 1px solid #eee;
	font-size: 13px;
}
.wpuf-dashboard-content.fe-edd {
	#edd_user_history td {
		font-size: 0.9em;
		line-height: 1.6;
	}
	#edd_user_history td,
	#edd_user_history th {
		text-align: left;
		padding: 10px;
	}
}
table#edd_purchase_receipt {
	margin-bottom: 30px;
}
#edd_purchase_receipt th strong {
	font-weight: bold;
}
.edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js,
.edd_go_to_checkout,
#edd-purchase-button,
.edd-submit,
[type="submit"].edd-submit {
	min-width: 100%;
	max-width: 100%;
}
#edd_checkout_form_wrap legend {
	background: #fff;
	padding-left: 20px;
}
#edd_checkout_form_wrap .edd-payment-icons {
	margin: 0 0 20px;
}

.article-post .simplefavorite-button,
.article-post .simplefavorite-button.has-count,
.article-post .simplefavorite-button.has-count.active {
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}
.article-post .simplefavorite-button {
	display: flex;
	align-items: center;
	min-width: 200px;
	.simplefavorite-button-count {
		margin-left: auto;
	}
	.sf-icon-star-full,
	.sf-icon-star-empty {
		margin-left: 5px;
		margin-right: 10px;
		font-style: normal;
	}
}
.simplefavorite-button {
	padding: 0 15px;
	background: #f1f1f1;
	border-radius: 5px;
	color: #333;
	font-weight: 700;
	i {
		font-style: normal;
	}
}
.simplefavorite-button.has-count {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	background-color: #f1f1f1 !important;
	color: #333;
	padding: 0;
	font-size: 16px !important;
	font-weight: 700;
	color: #333;
	padding: 0 0 0 15px;
}
.simplefavorite-button.has-count.active {
	color: $dark;
	opacity: 1;
}
.simplefavorite-button-count {
	background: $primary;
	width: 40px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	color: #fff;
	text-align: center;
	border-radius: 0px 5px 5px 0px;
}

.simplefavorite-button.has-count.active .simplefavorite-button-count {
	background: $dark;
}
.simplefavorites-modal-backdrop {
	background-color: rgba(0, 0, 0, 0.6) !important;
	z-index: 1023 !important;
}
.simplefavorites-modal-content.active {
	top: 80px !important;
	background: transparent !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.simplefavorites-modal-content {
	z-index: 1024 !important;
	.fa-close {
		position: absolute;
		top: 10px;
		right: 20px;
		width: 30px;
		height: 30px;
		line-height: 28px;
		border-radius: 50%;
		border: 1px solid #eee;
		text-align: center;
		color: #fff;
	}
	width: 50% !important;
}
.simplefavorites-modal-content-body {
	max-height: 650px !important;
	.lrm-inline p.lrm-form-bottom-message a {
		color: #fff;
		text-decoration: underline;
	}
	.lrm-inline .lrm-user-modal-container {
		border: 0;
	}
}

.article-sidebar {
	.simplefavorite-button {
		border-radius: 5px;
		@include media-breakpoint-up(md) {
			width: 100%;
		}
		height: 40px;
		line-height: 40px;
		display: flex;
		align-items: center;
		i {
			margin-left: 5px;
			margin-right: 10px;
		}
	}
	.simplefavorite-button-count {
		margin-left: auto;
		height: 40px;
		width: 40px;
		line-height: 40px;
	}
}

.masonry-card {
	.show-overlay {
		position: absolute;
		top: 20px;
		left: 30px;
		right: 30px;
		opacity: 0;
	}
	.addtoany_list {
		position: absolute;
		bottom: 25px;
		right: 28px;
		opacity: 0;
	}
	.addtoany_list a {
		display: none !important;
	}
	.addtoany_list a.addtoany_share {
		display: inline-block !important;
	}
	.simplefavorite-button {
		width: 100%;
		height: 40px;
		line-height: 40px;
		display: flex;
		border-radius: 5px;
		align-items: center;
		i {
			margin-left: 5px;
		}
	}
	.simplefavorite-button-count {
		margin-left: auto;
	}
}
.masonry-card:hover {
	.simplefavorite-button,
	.addtoany_list {
		z-index: 1;
		opacity: 1;
	}
	.show-overlay {
		opacity: 1;
	}
}
.article-headline,
.sidebar-headline,
.maskimage,
.notraco {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.maskimage {
	border-radius: 3px 3px 0 0;
}
.sticky-sidebar-offset {
	top: 50px;
	@include media-breakpoint-down(md) {
		position: relative;
		z-index: 1;
		.single-learn {
			display: flex;
			justify-content: center;
			.d-flex {
				justify-content: center;
			}
		}
	}
}
@include media-breakpoint-down(md) {
	.sticky-sidebar-offset {
		top: 0 !important;
	}
	footer.footer {
		text-align: center;
	}
}
.bg-lighterr {
	background-color: #fbfbfb !important;
}

.PageNavigation {
	a {
		position: fixed;
		top: 47%;
		font-weight: 700;
		color: #989696;
		text-align: center;
		background: #f1f1f1;
		border-radius: 40px;
		font-size: 12px;
		line-height: 1.3;
		transition: all 0.2s;
		i {
			font-size: 40px;
			width: 60px;
			height: 60px;
			line-height: 60px;
			border-radius: 50%;
		}
		&:hover {
			color: #333;
			transition: all 0.2s;
		}
	}
	.prev a {
		left: 50px;
	}
	.next a {
		right: 50px;
	}
}

header {
	.login {
		.btn-link {
			font-weight: 700;
			text-decoration: none;
		}
	}
}

#our-mission {
	.spotlight-image-container {
		max-width: 150px;
		position: relative;
		&:before {
			content: "";
			top: -40px;
			left: -40px;
			height: calc(100% + 80px);
			width: calc(100% + 80px);
			position: absolute;
			background-image: url(../img/cross.png);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	h5 {
		font-size: 40px;
		letter-spacing: 0.1rem;
		color: $black;
	}
	button {
		width: 150px;
		height: 150px;
		position: relative;
	}
}

.play-icon {
	background-color: $teal;
	height: 75px;
	width: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	&:before {
		content: "";
		border-left: 20px solid white;
		border-bottom: 13px solid transparent;
		border-top: 13px solid transparent;
		margin-left: 5px;
	}
}

.wp-block-image {
	.alignright {
		position: relative;
		@include media-breakpoint-up(md) {
			margin-left: 1.5rem;
		}
		&::before {
			content: "";
			position: absolute;
			left: -10%;
			bottom: 30%;
			z-index: 0;
			background-image: url(../img/accent-5.png);
			background-size: contain;
			background-repeat: no-repeat;
			height: 30%;
			width: 35%;
			transform: rotate(-110deg);
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}
}
#about-content {
	p {
		a {
			color: $teal;
		}
	}
	.wp-block-image {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			right: -15%;
			bottom: 15%;
			z-index: 0;
			background-image: url(../img/accent-1.png);
			background-size: contain;
			background-repeat: no-repeat;
			height: 20%;
			width: 25%;
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
		img {
			position: relative;
			z-index: 1;
		}
	}
}
#about-hero {
	width: 100%;
	overflow: hidden;
	.about-hero-container {
		@include media-breakpoint-down(md) {
			overflow: hidden;
		}
	}
	h1 {
		font-size: 400px;
		font-family: $shutterlocks;
		text-align: center;
		@media (max-width: 767px) {
			font-size: 150px;
		}
	}
	#about-images {
		position: relative;
		@media (max-width: 767px) {
			height: 150px;
		}
		.about-image {
			position: absolute;
			img {
				width: 200px;
				height: auto;
				@media (max-width: 767px) {
					width: 150px;
				}
			}
			&:first-child {
				left: 0;
				bottom: 30px;
				transform: rotate(-20deg);
				@media (max-width: 767px) {
					bottom: 70px;
				}
				&::before {
					content: "";
					position: absolute;
					right: -75%;
					top: 20%;
					z-index: 0;
					background-image: url(../img/accent-5.png);
					background-size: contain;
					background-repeat: no-repeat;
					height: 120px;
					width: 200px;
				}
				img {
					z-index: 1;
					position: relative;
				}
			}
			&:nth-child(2) {
				left: 24%;
				bottom: 0px;
				transform: rotate(-10deg);
				@media (max-width: 767px) {
					left: 20%;
				}
				&::before {
					content: "";
					position: absolute;
					right: -65%;
					top: -15%;
					z-index: 0;
					background-image: url(../img/accent-black.png);
					background-size: contain;
					background-repeat: no-repeat;
					height: 120px;
					width: 200px;
				}
				img {
					z-index: 1;
					position: relative;
				}
			}
			&:nth-child(3) {
				right: 20%;
				bottom: 0px;
				transform: rotate(30deg);
				@media (max-width: 767px) {
					right: 15%;
				}
				&::before {
					content: "";
					position: absolute;
					left: -56%;
					top: -45%;
					z-index: 0;
					background-image: url(../img/accent-2.png);
					background-size: contain;
					background-repeat: no-repeat;
					height: 200px;
					width: 280px;
					transform: rotate(-190deg);
				}
				img {
					z-index: 1;
					position: relative;
				}
			}
			&:nth-child(4) {
				right: 0px;
				bottom: 30px;
				transform: rotate(15deg);
				@media (max-width: 767px) {
					bottom: 100px;
				}
			}
		}
	}
}

.as-seen-header {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		margin: auto;
		background-image: url(../img/highlight.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		height: 90px;
		width: 150px;
		z-index: -1;
		transform: rotate(165deg);
	}
}
.as-seen-logos {
	&:before,
	&:after {
	  content: "";
	  position: absolute;
	  z-index: 1;
	  width: 30%;
	  top: 0;
	  height: 100%;
	  pointer-events: none; /*makes the linkes behind clickable.*/
	}
	&:before {
	  left: 0;
	  background: linear-gradient(to right, rgba(255,255,255, 1), rgba(255,255,255, 0));
	}
	&:after {
	  right: 0;
	  background: linear-gradient(to left, rgba(255,255,255, 1), rgba(255,255,255, 0));
	}
	.slick-track {
		.slick-slide {
			.as-seen-logo-container {
				width: 100%;
				padding-bottom: 100%;
				position: relative;
				.as-seen-logo {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
				}
			}
		}
	}
}

#footer-signup {
	text-align: center;
	position: relative;
	padding-bottom: 6rem!important;
	@include media-breakpoint-down(md) {
		padding-bottom: 4rem!important;
	}
	#footer-signature {
		z-index: 0;
		font-size: 24vw;
		bottom: -9.5vw;
		left: -4vw;
		line-height: 1;
	}
	h5 {
		line-height: 1.5;
		max-width: 800px;
		margin: 0 auto;
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 0;
	}
	.container {
		position: relative;
		z-index: 1;
	}
	.btn-unsealed {
		margin: 20px 0;
	}
	a {
		color: $teal;
	}
}

#announcement {
	.row {
		margin: 0;
	}
}

.nf-error, .nf-error-msg {
	color: $teal!important;
}
.nf-form-content {
	.nf-error, .nf-error-msg, .nf-error-msg, .ninja-forms-req-symbol {
		color: $teal!important;
	}
	.nf-error .ninja-forms-field {
		border-color: $teal!important;
	}
	.nf-error.field-wrap .nf-field-element:after {
		background-color: $teal!important;
	}
}

.nf-form-content label {
	font-size: 16px!important;
	color: black!important;
}
.bg-black {
	.nf-form-content label {
		font-size: 16px!important;
		color: white!important;
	}
}

.embed-responsive {
	background: black;
}
.video-modal,
.image-modal,
.form-modal {
	.nf-form-fields-required {
		display: none;
	}
	.modal-dialog {
		max-width: 800px;
		margin: auto;
		height: 100%;
	}
	.modal-content {
		position: relative;
		z-index: 1;
		&:before {
			content: "";
			position: absolute;
			right: -65px;
			bottom: -55px;
			z-index: 0;
			background-image: url(../img/accent-4.png);
			background-size: contain;
			background-repeat: no-repeat;
			height: 120px;
			width: 200px;
			@media (max-width: 992px) {
				left: -15px;
				bottom: -15px;
				height: 50px;
				width: 90px;
			}
		}
		.modal-body {
			position: relative;
			padding: 0px;
			.close {
				position: absolute;
				left: calc(100% + 25px);
				top: 0;
				color: $white;
				opacity: 1!important;
				@media (max-width: 992px) {
					left: auto;
					right: 1rem;
				}
			}
		}
	}

	iframe {
		max-width: 100%;
	}
}
.image-modal {
	.modal-content {
		.modal-body {
			padding: 0;
			width: 100%;
			& > div {
				width: 100%;
		    height: 0;
		    padding-bottom: 66%;
		    display: block;
			}
		}
	}
}

.form-modal {
	.modal-dialog {
		max-width: 600px;
	}
	.modal-content {
		.modal-body {
			padding: 2rem 2rem 1rem;
			border-radius: 0;
			position: relative;
			z-index: 1;
			background: white;
			@include media-breakpoint-down(md) {
				padding: 1rem 1rem .5rem;
			}
			.field-wrap.textarea-wrap {
				label {
					// display: none;
				}
			}
			.field-wrap.submit-wrap {
				text-align: center;
				input {
					padding-left: 2rem;
					padding-right: 2rem;
				}
			}
			.field-wrap.checkbox-wrap {
				flex-wrap: nowrap;
				align-items: center;
				margin-bottom: 1.5rem;
			}
			.checkbox-container.label-hidden {
				.nf-field-label {
					height: 22px;
					width: 22px;
				}
				.nf-field-description {
					padding-top: 5px;
					padding-left: 10px;
					a {
						color: $teal;
						font-weight: bolder;
					}
				}
				label {
					height: 22px;
					width: 22px;
				}
				.nf-field-element {
					width: 0;
				}
			}
			.nf-field-container {
				margin-bottom: .25rem;
			}
			textarea {
				height: 150px;
				background: transparent;
				border: 2px solid black;
			}
		}
	}
}

.site-footer {
	.site-info {
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
}

.social-links {
	a {
		background-color: $teal;
		border-radius: 30px;
		height: 35px;
		width: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
		svg {
			height: 20px;
			width: 20px;
		}
	}
}

#footer-email-form {
	display: flex;
}
.email-form {
	form {
		width: 100%;
	}
	input {
		border: 1px solid $white;
		background-color: transparent;
		border-radius: 0px;
	}
	input[type="email"] {
		padding: 15px;
		width: 100%;
		max-width: 500px;
		color: $white;
	}
	input[type="submit"] {
		border-left: 0px;
		padding: 10px 40px;
		font-family: $shutterlocks;
		color: $teal;
		font-weight: 300;
		font-size: 25px;
	}
	::placeholder {
		color: $white;
	}
	.email-response {
		display: none;
	}
}

.copyright {
	text-align: center;
}

.navbar-toggler {
	outline: none !important;
	border: 0px;
}

.menu-ham {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

.menu-ham span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

.menu-ham span {
	background: $black;
}

.menu-ham span:nth-child(1) {
	top: 0px;
}

.menu-ham span:nth-child(2) {
	top: 10px;
}

.menu-ham span:nth-child(3) {
	top: 20px;
}

.menu-ham.open span:nth-child(1) {
	top: 11px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.menu-ham.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.menu-ham.open span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
