body.content-lock-overlay {
	height: 100vh;
	position: fixed;
	overflow: hidden;

}
.absolutify {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.two-column-right {
	.two-column-image {
	  &::after {
	    content: '';
	    @include gradient-directional( rgba(0,0,0,1), rgba(0,0,0,.5), -90deg );
	    @extend .card-img-overlay;
	  }
	}
}
.two-column-left {
	.two-column-image {
	  &::after {
	    content: '';
	    @include gradient-directional( rgba(0,0,0,1), rgba(0,0,0,.5), 90deg );
	    @extend .card-img-overlay;
	  }
	}
}
.two-column-content {
	.nf-form-cont {
		max-width: 500px;
		margin: 0 auto;
	}
}

.page-template-default {
	.site-content, .content-area, article .bg-black .row > div.content-container {
		min-height: 500px;
	}
}
.btn-brush-hover {
	& > * {
		position: relative;
		z-index: 0;
		&::before {
			content: "";
			width: 160%;
			height: 120%;
			top: -10%;
			left: -20%;
			position: absolute;
			background-image: url("../img/brush-btn-1.png");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			opacity: 0;
			z-index: -1;
		}
	}
	&.selected {
		& > *::before {
			opacity: 1;
		}
	}
	&:hover {
		> *::before {
			opacity: 1;
		}
	}
}
#announcement {
	text-align: center;
	p,
	a {
		line-height: 1.2;
	}
}
.content-lock-content {
	#announcement {
		position: relative!important;
	}
}
.play-button {
	position: relative;
	width: 75px;
	height: 75px;
	border-radius: 100px;
	background-color: white;
	z-index: 1;
	cursor: pointer;
	@media (max-width: 767px) {
		height: 60px;
		width: 60px;
	}
	&:after {
		content: "";
		height: 0;
		width: 0;
		position: absolute;
		border-left: 15px solid black;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		left: 6px;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		@media (max-width: 767px) {
			transform: scale(0.8);
		}
	}
}

.image-grid {
	img, div {
		position: absolute;
		opacity: .4;
		height: 125px;
		width: 125px;
		object-fit: cover;
		@media (max-width: 767px) {
			height: 100px;
			width: 100px;
		}
		@media (max-width: 500px) {
			height: 75px;
			width: 75px;
		}
		&:nth-child(1) {
			left: 0;
			top: 10%;
			opacity: 0.4;
			@media (max-width: 767px) {
				left: -70px;
				top: 10px;
			}
			@media (max-width: 650px) {
				left: -10px;
			}
		}
		&:nth-child(3) {
			left: 18%;
			bottom: 0;
			opacity: 1;
			@media (max-width: 767px) {
				left: -20px;
				bottom: 0;
			}
			@media (max-width: 650px) {
				left: -10px;
			}
		}
		&:nth-child(5) {
			left: 25%;
			bottom: 26%;
			opacity: 1;
			@media (max-width: 767px) {
				left: 15px;
				bottom: 35%;
			}
			@media (max-width: 650px) {
				left: 35px;
			}
		}
		&:nth-child(7) {
			right: 20%;
			bottom: 21%;
			opacity: 1;
			@media (max-width: 767px) {
				right: -10px;
				bottom: 28%;
			}
			@media (max-width: 650px) {
				right: 10px;
				bottom: 34%;
			}
		}
		&:nth-child(9) {
			right: 0%;
			bottom: 15%;
			opacity: 0.4;
			@media (max-width: 767px) {
				right: -70px;
				bottom: 10px;
			}
			@media (max-width: 650px) {
				right: -10px;
			}
		}
		&:nth-child(11) {
			right: 8%;
			bottom: 50%;
			opacity: 0.3;
			@media (max-width: 767px) {
				display: none;
			}
		}
		&:nth-child(13) {
			left: 16%;
			bottom: 85%;
			opacity: 0.4;
			@media (max-width: 767px) {
				display: none;
			}
		}
		&:nth-child(15) {
			left: 15%;
			bottom: 60%;
			opacity: 0.3;
			@media (max-width: 767px) {
				display: none;
			}
		}
		&:nth-child(17) {
			right: 28%;
			bottom: 2%;
			opacity: 1;
			@media (max-width: 767px) {
				display: none;
			}
		}
	}
	&.community {
		img {
			width: 85px;
			height: 85px;
		}
	}
}

#home-hero {
	position: relative;
	&.has-hero-image {
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 150px;
			pointer-events: none;
			background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 1) 30%,
			rgba(0, 0, 0, 0) 100%
			);
		}
	}
	.section-header {
		position: relative;
		z-index: 1;
		h1 {
			font-size: 2rem;
			margin-right: auto;
			margin-left: auto;
			@include media-breakpoint-down(sm) {
				font-size: 1.5rem;
			}
			@include media-breakpoint-up(md) {
				max-width: 800px;
			}
			@include media-breakpoint-up(xl) {
				max-width: 950px;
			}
		}
		a {
			@extend .teal;
		}
	}
	.header-images-container {
		position: relative;
		.lead-image {

			img {
				max-height: 500px;
				min-height: 500px;
				width: auto;
				margin: auto;
				display: block;
				@media (max-width: 650px) {
					max-height: 350px;
					min-height: 350px;
				}
			}
		}
		.header-accents {
			img {
				position: absolute;
				width: 300px;
				height: auto;
				margin: auto;
				@media (max-width: 650px) {
					width: 250px;
				}
				&.accent-top {
					bottom: 10%;
					left: -35%;
					right: 0;
					transform: rotate(200deg);
					@media (max-width: 767px) {
						left: -50%;
					}
				}
				&.accent-bottom {
					bottom: -10%;
					left: 0;
					right: -35%;
					@media (max-width: 767px) {
						right: -50%;
					}
				}
			}
		}
		.join-button {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 45px;
			margin: 0 auto;
			z-index: 2;
		}
	}
	.home-play-button {
		.play-button {
			position: absolute;
			top: 20%;
			right: 5%;
		}
	}
}

.letter-block {
	&:last-of-type {
		& > div {
			border-bottom: none!important;
		}
	}
	@include media-breakpoint-down(sm) {
		& > div {
			border: none;
		}
	}
}
.spotlight-wrapper {
	@include media-breakpoint-up(md) {
		&:nth-child(odd) {
			&::after {
				content: '';
				position: absolute;
				right: 1rem;
				top: 0;
				width: 4px;
				height: 100%;
				background-size: contain;
				background-position: center;
				background-image: url('../img/brush-divider.png');
				background-repeat: no-repeat;
			}
		}
	}
	.spotlight {
		.spotlight-content {
			p {
				margin: 0;
			}
		}
	}
}

#meet-lauren, #social-platform-callout {
	.meet-lauren-images {
		position: relative;
		margin-bottom: -5%;
		z-index: 1;
		.meet-lauren-image {
			height: 90%;
			width: auto;
			position: absolute;
			z-index: 1;
			opacity: 0.35;
			transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			left: auto;
			right: auto;
			top: auto;
			img {
				height: 100%;
				width: auto;
			}
			&:nth-child(2) {
				width: 40%;
				height: auto;
				position: relative;
				z-index: 2;
				opacity: 1;
				transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					background-image: url('../img/accent-5.png');
					background-size: contain;
					background-repeat: no-repeat;
					height: 120px;
					width: 180px;
					z-index: 0;
					transform: rotate(0deg) translateX(-15%) translateY(15%);
				}
				img {
					width: 100%;
					height: auto;
					z-index: 1;
					position: relative;
				}
			}
			&:nth-child(3) {
				height: 75%;
				transition-delay: .1s;
			}
		}
		&.active {
			.meet-lauren-image {
				&:nth-child(1) {
					// left: 13%;
					top: 0;
					transform: rotate(-20deg) translateX(-50%);
					-moz-transform: rotate(-20deg) translateX(-100%);
				}
				&:nth-child(2) {
					transform: rotate(-5deg);
				}
				&:nth-child(3) {
					transform: rotate(20deg) translateX(100%);
					-moz-transform: rotate(20deg) translateX(80%);
					// top: 15%;
					// right: 13%;
					// left: auto;
				}
			}
		}
	}
	.meet-lauren-quote {
		z-index: 2;
		position: relative;
		width: 68%;
		margin: 0 auto 2.5rem;
		transform: rotate(-2deg);
		@include media-breakpoint-down(md) {
			width: 90%;
		}
		.h1 {
			font-size: 5.9rem;
			line-height: 0.6;
			letter-spacing: 0.2rem;
		}
	}
}

.floating-prompts {
	.floating-prompt {
		color: $teal;
		max-width: 300px;
		display: none;
		opacity: 1;
	}
}

.ask-unsealed-header-content {
	position: relative;
	&::before {
		content: '';
		background: rgb(0,0,0);
		// background: radial-gradient(circle, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5270483193277311) 11%, rgba(0,0,0,0) 91%);
		background: radial-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0) 91%);
		position: absolute;
		width: 100%;
		height: 140%;
		top: -20%;
		left: 0;
	}
	& > * {
		position: relative;
	}
}
.ask-unsealed-app {
	.letter {
		.advice-from {
			span {
				line-height: 1;
			}
			.btn-row {
				display: inline-block;
				.btn {
					display: block;
					padding: 0;
				}
			}
		}
		.qa {
			.qa-question,
			.qa-answer {
				position: relative;
				&::before {
					content: "Q";
					@extend .script-font;
					@extend .teal;
					font-size: 6rem;
					z-index: -1;
					position: absolute;
					left: -1.5rem;
					top: -1.5rem;
					opacity: 0.5;
				}
			}
			.qa-answer {
				&::before {
					content: "A";
				}
			}
		}
	}
}

.social-link-wrapper {
	padding-left: 0;
	padding-right: 0;
}
.letter {
	position: relative;
	&:last-of-type {
		border-bottom: none !important;
	}
	.viz-sensor {
		width: 100%;
		height: 80px;
		position: absolute;
		top: 200px;
		left: 0;
	}
	.btn-brush-hover {
		*::before {
			display: none;
		}
	}
}

.terms-column {
	overflow: hidden;
	.filter-header {
		position: relative;
	}
	.btn-row {
		&:not(:first-of-type) {
			border-top: 1px solid rgba(0, 0, 0, 0.23);
		}
		.btn {
			width: 100%;
			text-align: left;
			&.selected {
				font-weight: bold;
			}
			&:focus {
				outline: none;
			}
		}
	}
}

.letters-app {
	.entry-header {
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			background-image: url('../img/accent-4.png');
			background-size: contain;
			background-repeat: no-repeat;
			height: 120px;
			width: 180px;
			z-index: 1;
			transform: rotate(317deg) translateX(-27%) translateY(-72%);
		}
	}
	.topic-desc {
		p {
			margin-bottom: 0;
		}
	}
	.filter-terms {
		border-top: none;
		border-right: none;
		border-left: none;
		max-width: 240px;
	}
	.letters {
		.letter {
			.h4, h4 {
				font-size: 1.3rem;
				line-height: 1.2;
			}
			.topics-row {
				// padding-left: .25rem;
				// padding-right: .25rem;
				// padding-left: 15px;
				margin-left: -.25rem;
				margin-right: -.25rem;
			}
			.btn-row {
				.btn {
					color: $teal;
					padding-top: 0;
					padding-bottom: 0;
					padding-left: .25rem;
					padding-right: .25rem;
					font-size: .9rem;
				}
			}
			.share-label {
				line-height: 0.5;
			}
		}
	}
}

.single-post {
	.letter-tax-image {
		width: 100px;
	}
}

.admin-bar {
	#announcement {
		top: 32px;
	}
}

// Video
.popup-login {
	z-index: 20;
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.unsealed-video-block {
	&.black-background {
		position: relative;
		padding-top: 6rem;
		padding-bottom: 6rem;
		.unsealed-video-background {
			background-color: #000;
			width: 100vw;
			left: calc(50% - 50vw);
			height: calc(100%);
			top: 0;
			position: absolute;
		}

		.unsealed-video {
			display: flex;
			flex-direction: column-reverse;

			.overlay.video-overlay {
				position: inherit;
				margin-bottom: 20px;
			}
		}

		.unsealed-video-container {
			display: flex;
			flex-direction: column-reverse;

			figcaption {
				color: white;
				font-family: "Shutterlocks" !important;
				font-size: 60px;
				font-weight: 200;
				-webkit-font-smoothing: antialiased;
				margin-bottom: 20px;
			}
		}
	}
	.unsealed-video {
		&::before {
			content: "";
			position: absolute;
			right: -22%;
			bottom: 15%;
			z-index: 0;
			background-image: url("../img/accent-1.png");
			background-size: contain;
			background-repeat: no-repeat;
			height: 30%;
			width: 35%;
		}
	}
	.play-icon {
		width: 50px;
		height: 50px;
		position: absolute;
		left: 2rem;
		bottom: 2rem;
		&:before {
			content: "";
			border-left: 10px solid white;
			border-bottom: 9px solid transparent;
			border-top: 9px solid transparent;
			margin-left: 5px;
		}
	}
}

// Testimonial Carousel
.unsealed-testimonials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem -20%;
	padding: 4rem 0;
	.h1 {
		text-align: center !important;
		margin-bottom: 20px;
		font-size: 8rem;
	}

	.slide-item {
		display: flex !important;
		align-items: center !important;
		padding: 30px 0;
		@media (max-width: 960px) {
			flex-direction: column!important;
		}
		.image-container {
			position: relative;
			width: 40%;
			margin-left: 30px;
			margin-right: 40px;
			flex-shrink: 0;
			@media (max-width: 960px) {
				width: 280px;
			}
			&::before {
				content: "";
				position: absolute;
				top: -40px;
				left: 60px;
				bottom: 0;
				background-image: url(../img/accent-1.png);
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				height: 70px;
				z-index: 0;
				width: 80px;
			}

			img {
				width: 100%;
				height: auto;
				position: relative;
			}
		}

		.testimonial-content {
			@media (max-width: 960px) {
				padding-top: 3rem;
				padding-left: 2.5rem;
				padding-right: 2.5rem;
				h4 {
					font-size: 1.2rem;
				}
			}
			.script-font {
				line-height: 1!important;
			}
			&.no-image {
				max-width: 600px;
				margin: 0 auto;
				text-align: center;
			}
			p {
				line-height: 1.5;
			}
			.testimonial-mark {
				line-height: 30px;
				margin-bottom: 0;
				@media (max-width: 960px) {
					text-align: center;
				}
			}
		}
	}

	.slick-slide:nth-child(odd) {
		.slide-item {
			.image-container {
				&::before {
					background-image: url(../img/accent-3.png);
					top: auto;
					left: auto;
					right: 40px;
					bottom: -40px;
				}
			}
		}
	}

	.slick-prev,
	.slick-next {
		width: 30px !important;
		height: 30px !important;
		transform: translateY(-50%);
	}

	.slick-prev {
		left: 20px !important;
		@media (min-width: 992px) {
			left: -50px !important;
		}
	}

	.slick-next {
		right: 20px !important;
		@media (min-width: 992px) {
			right: -50px !important;
		}
	}

	.slick-prev:before,
	.slick-next:before {
		content: '' !important;
		background-image: url('../img/arrow.svg');
		background-size: contain;
		background-repeat: no-repeat;
		color: #000 !important;
		font-size: 35px !important;
		opacity: 1 !important;
		width: 13px;
		height: 31px;
		display: block;
	}
	.slick-prev:before {
		transform: rotate(180deg);
	}
}

.overlay {
	&.video-overlay {
		opacity: 1;
		background: rgba(0, 0, 0, 0.8);
	}
}
// Accounts

#pmpro_account-profile {
	p:first-of-type {
		&::before {
			content: 'Name: ';
			font-weight: bolder;
			-webkit-font-smoothing: antialiased;
		}
	}
}
.pmpro-account {
	table {
		tr {
			td {
				border: none !important;
				vertical-align: top;
				p {
					margin-top: 0!important;
				}
			}
		}
	}
}

.post-image-wrapper, .letter-image-container {
	.play-button {
		pointer-events: none!important;
	}
	overflow: hidden;
	.post-image, .letter-image {
		transform: rotate(0.001deg);
		transition: transform .5s linear;
	}
	&:hover {
		.post-image, .letter-image {
			transition: transform 3s linear;
			transform: rotate(0.001deg) scale(1.1);
		}
	}
}
.three-up-container {
	overflow: hidden;
	.post-block:last-child .post-image-wrapper {
		&:after {
			content: "";
			position: absolute;
			bottom: -30px;
			right: -50px;
			background-image: url("../img/accent-2.png");
			background-size: contain;
			background-repeat: no-repeat;
			height: 100px;
			width: 140px;
			z-index: -1;
		}
	}
}

.more-stories {
	.three-up-container {
		.post-block {
			.label {
				display: none;
			}
			h6 {
				margin-top: 20px;
				width: 80%;
				@include media-breakpoint-down(md) {
					width: 100%;
				}
			}
		}
	}
}
.letter-list {
	@include media-breakpoint-down(md) {
		padding-right: $gutter / 2;
		padding-left: $gutter / 2;
	}
}
.featured-letters {
	.col-xl-7 {
		.letter-image-wrapper {
			&::before {
				content: "";
				position: absolute;
				left: -35px;
				bottom: -20px;
				background-image: url("../img/accent-3.png");
				background-size: contain;
				background-repeat: no-repeat;
				height: 90px;
				width: 150px;
				z-index: 1;
				@media (max-width: 992px) {
					left: -15px;
					bottom: -15px;
					height: 50px;
					width: 90px;
				}
			}
		}
	}
}

.community-section {
	@include media-breakpoint-down(sm) {
		overflow: hidden;
	}
	.post-block:last-of-type {
		.row {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				right: -35px;
				top: 60%;
				background-image: url("../img/accent-4.png");
				background-size: contain;
				background-repeat: no-repeat;
				height: 90px;
				width: 150px;
				transform: rotate(-180deg);
				z-index: 0;
			}
			.post-image-wrapper {
				position: relative;
			}
		}
	}
}

.featured-videos {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		right: 0;
		bottom: -30px;
		background-image: url("../img/accent-video.png");
		background-size: contain;
		background-repeat: no-repeat;
		height: 135px;
		width: 44px;
	}
	@include media-breakpoint-down(md) {
		padding-right: $gutter / 2;
		padding-left: $gutter / 2;
	}
	.play-button {
		position: absolute;
		bottom: 10px;
		left: 10px;
		height: 40px;
		width: 40px;
		background-color: $teal;
		&:after {
			left: 4px;
			transform: scale(0.6);
			border-left-color: white;
		}
		@media (max-width: 767px) {
		}
	}
	.row {
		.post-block {
			position: relative;
			z-index: 1;
		}
		.post-block:nth-child(2) {
			position: relative;
			z-index: 0;
			&:before {
				content: "";
				position: absolute;
				z-index: -1;
				width: 200px;
				height: 130px;
				left: -35px;
				top: -40px;
				background-image: url("../img/accent-1.png");
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}
}

.spotlights {
	.spotlight-image-wrapper {
		&:before {
			content: "";
			top: -10px;
			left: -10px;
			height: calc(100% + 20px);
			width: calc(100% + 20px);
			position: absolute;
			background-image: url("../img/cross.png");
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	.col-md-6:nth-child(2) {
		.spotlight-image-wrapper {
			&:before {
				transform: rotate(150deg);
			}
		}
	}
	.spotlight-content {
		h6 {
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 10px;
		}
	}
}

#community-bg-images {
	@extend .absolutify;
}

.search-results {
	.image-ratio.bg-2-1 > div, .image-ratio.bg-2-1 > a {
		padding-bottom: 66%;
	}
}

// Lock content modal

#signup-required {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.9);
	z-index: 1020;
	#signup-required-wrapper {
		width: 100%;
		max-width: 550px;
		color: white;
		h2 {
			font-size: 4rem;
			color: $teal;
		}
		h3 {
			font-size: 1.2rem;
		}
		input[type="email"], input[type="text"] {
			padding: .4rem .5rem;
			border-radius: none;
			-webkit-appearance: none;
			box-shadow: none;
			outline: none;
			border: none;
		}
		input[type="submit"] {
			margin-left: .25rem;
		}
		#signup-required-verified {
			h3 {
				font-size: 3.2rem;
			}
		}
		#signup-required-continue {
			background: #333;
			color: white;
			padding: 0.5rem 1rem;
			border: none !important;
			border-radius: 0 !important;
		}
	}
}



.inline-lock-wrapper {
	position: relative;
	
}
.entry-content #signup-required {
	position: absolute;
	width: 110%;
	height: calc(100% + 1rem);
	top: -.5rem;
	left: -5%;
	z-index: 2;
	background-color: transparent;
	backdrop-filter: blur(12px);
	display: block;
	text-align: center;
	#signup-required-wrapper {
		position: sticky;
		top: 3rem;
		margin: 3rem auto;
		color: black;
		
		#unsealed-lock-email, #unsealed-lock-code {
			border: 2px solid black;
		}
	}
}

body.content-lock-content {
	.entry-content {
		position: relative;
	}
	#main-content {
		overflow: visible!important;
	}
	.entry-content #signup-required { 
		background-color: rgba(255,255,255,.3);
		h2 {
			color: black!important;
		}
		#signup-required-wrapper {
			padding-top: 6rem;
			padding-bottom: 6rem;
		}
	}
}

// Fortune subscribe popup
.subscribe-modal {
	background-color: rgba(0, 0, 0, 0.7);
	.modal-dialog {
		max-width: 700px;
	}
}

.fortune-popup-container {
	pointer-events: auto;
}
.fortune-popup-container .brand {
	max-width: 273px;
	width: 60%;
	height: auto;
	margin-top: 1.5rem;
	margin-bottom: 2.8rem;
	.white-clip, .white-fill {
		fill: white;
	}
}
.subscribe-popup-body {
	&.inactive {
		opacity: .5;
		pointer-events: none;
	}
}
.fortune-popup-container .close-btn {
	position: absolute;
	top: 0;
	right: 25px;
	z-index: 9;
	color: #FFFFFF;
	font-size: 48px;
	font-family: none;
	@include media-breakpoint-up(md) {
		right: -25px;
	}
	cursor: pointer;
	text-shadow: none;
	opacity: 1;
}

.fortune-popup-container .brand svg {
	width: 100%;
	height: 100%;
}

.fortune-popup-container .sub-text {
	font-size: 1.2rem;
	color: white;
	@include media-breakpoint-down(up) {
		font-size: 1.8rem;
	}
}

.fortune-popup-container .sub-text p {
	margin-bottom: 0;
}

.fortune-popup-container .sub-text .color-lightblue {
	color: #3CD0C7;
}

.fortune-popup-container .email-response {
	color: white;
	padding: 0 1.5rem;
	a {
		color: $teal;
	}
	blockquote {
		@extend .h3;
		padding: 2rem 1rem 0rem;
	}
}

.fortune-email-input {
	margin-top: 1.8rem;
	justify-content: center;
	@include media-breakpoint-down(md) {
		margin-left: auto;
		margin-right: auto;
		display: block!important;
	}
	#subscribe-popup-form {
		@include media-breakpoint-down(md) {
			& > div {
				flex-direction: column;
				align-items: center;
			}
			button {
				margin-top: .5rem;
			}
		}
	}
}

.fortune-email-input .email-form {
	padding: 0;
}

.fortune-email-input-container {
	display: flex;
	align-items: center;
	width: 100%;
	margin-right: 1.2rem;
	border-bottom: 2px solid #FFFFFF;
	padding-left: 15px;
	box-sizing: border-box;
}

.fortune-email-input-container input {
	font-size: 21px;
	font-weight: 400;
	color: #AfAFAF;
	background: transparent;
	outline: none;
	border: none;
}

.fortune-btn {
	background-color: transparent;
}

.fortune-email-input .btn-unsealed-text {
	font-size: 30px;
	font-weight: 400;
}

.fortune-email-input .btn-unsealed.small {
	width: 215px;
}

.follow-lauren {}

.follow-lauren p {
	color: white;
	font-family: "Shutterlocks";
	font-size: 36px;
	margin: 0;
}

.follow-lauren .social-links {
	padding: 8px 5px;
}

.follow-lauren .social-links > a:last-child {
	margin-right: 0;
}

.follow-lauren .social-links a {
	width: 28px;
	height: 28px;
	margin-right: 10px;
}

.follow-lauren .social-links a svg {
	width: 16px;
	height: 16px;
}

.dialog {
	top: 0px;
	left: calc(50% - 100px);
	position: absolute;
	background-color: #CCC;
	padding:10px;
	border-radius: 10px;
}

// custom css for accessibility
.ocean {
	color: #27527b;
}

.h5, .h6 {
	overflow-wrap: break-word;
	font-family: "American Typewriter";
	font-weight: 500;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.h5 {
	font-size: 1.25rem;
}

.h6 {
	font-size: 1rem;
}

#pmpro_cancel .alert-wrapper {
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		background-image: url('../img/accent-4.png');
		background-size: contain;
		background-repeat: no-repeat;
		height: 120px;
		width: 180px;
		z-index: 0;
		transform: rotate(330deg) translateX(-18%) translateY(-52%);
	}
}